In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold

from pandas_profiling import ProfileReport

In [2]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [3]:
train.head(5)

,ID,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
0,1,11,1101,0,1,27,0,0,1,1,1.077,15.075,26.919,390.869
1,2,11,1101,0,1,38,0,0,1,0,1.077,15.075,26.919,390.869
2,4,11,1101,0,0,36,0,0,0,1,1.077,15.075,26.919,390.869
3,7,11,1101,0,0,27,0,0,1,1,1.077,15.075,26.919,390.869
4,8,11,1101,0,1,36,1,0,0,0,1.077,15.075,26.919,390.869

In [4]:
train.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13626 entries, 0 to 13625
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          13626 non-null  int64
 1   Provinsi    13626 non-null  int64
 2   KodeKabKot  13626 non-null  int64
 3   Y           13626 non-null  int64
 4   X1          13626 non-null  int64
 5   X2          13626 non-null  int64
 6   X3          13626 non-null  int64
 7   X4          13626 non-null  int64
 8   X5          13626 non-null  int64
 9   X6          13626 non-null  int64
 10  Z1          13626 non-null  float64
 11  Z2          13626 non-null  float64
 12  Z3          13626 non-null  float64
 13  Z4          13621 non-null  float64
dtypes: float64(4), int64(10)
memory usage: 1.5 MB

In [5]:
# mencari presentasi null
(train.isnull().sum()/len(train)) *100

ID            0.000000
Provinsi      0.000000
KodeKabKot    0.000000
Y             0.000000
X1            0.000000
X2            0.000000
X3            0.000000
X4            0.000000
X5            0.000000
X6            0.000000
Z1            0.000000
Z2            0.000000
Z3            0.000000
Z4            0.036695
dtype: float64

In [6]:
train = train.fillna(train.mean())
# mencari presentasi null
(train.isnull().sum()/len(train)) *100

ID            0.0
Provinsi      0.0
KodeKabKot    0.0
Y             0.0
X1            0.0
X2            0.0
X3            0.0
X4            0.0
X5            0.0
X6            0.0
Z1            0.0
Z2            0.0
Z3            0.0
Z4            0.0
dtype: float64

In [7]:
train.describe()

,ID,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
count,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000
mean,9763.218406,44.562601,4477.179363,0.409511,0.610744,30.380229,0.487817,0.401805,0.813518,0.875899,1.227538,6.876482,35.597681,197.945368
std,5654.343886,26.377273,2633.993903,0.491762,0.487599,6.357110,0.499870,0.490281,0.389509,0.329709,1.059310,5.638141,33.103822,137.379205
min,1.000000,11.000000,1101.000000,0.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.369000,0.861000,20.183000
25%,4866.500000,18.000000,1804.000000,0.000000,0.000000,26.000000,0.000000,0.000000,1.000000,1.000000,0.564000,3.183000,16.744000,102.504250
50%,9773.500000,35.000000,3523.000000,0.000000,1.000000,30.000000,0.000000,0.000000,1.000000,1.000000,0.908000,4.965000,25.896000,163.192000
75%,14651.750000,71.000000,7171.000000,1.000000,1.000000,35.000000,1.000000,1.000000,1.000000,1.000000,1.473000,8.334000,39.854000,257.738000
max,19530.000000,94.000000,9471.000000,1.000000,1.000000,54.000000,1.000000,1.000000,1.000000,1.000000,6.960000,35.237000,291.322000,1400.875000

In [12]:
train_profile = ProfileReport(train)
train_profile.to_file("mantab.html")

Summarize dataset:   0%|          | 0/28 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]