In [95]:
library(expm)
library(openxlsx)

# 10.10

In a study of poverty, crime, and deterrence, Parker and Smith [10] report certain summary crime statistics in various states for the years 1970 and 1973. A 
portion of their sample correlation matrix is

$X_{1}^{(1)}$ == 1973 nonprimary homicides \
$X_{2}^{(1)}$ == 1973 primary homicides (homicides involving family or acquaintances) \
$X_{1}^{(2)}$ == 1970 severity of punishment (median months served) \
$X_{2}^{(2)}$ == 1970 certainty of punishment (number of admissions to prison 
divided by number of homicides)

R11 <- matrix(c(1, .615,
                .615, 1),2,2)
R12 <- matrix(c(-.111, -.195,
                -.266, -.085),2,2)
R21 <- matrix(c(-.111, -.266,
                -.195, -.085),2,2)
R22 <- matrix(c(1, -.269,
                -.269, 1),2,2)

In [24]:
R11 <- matrix(c(1.0, .4,
                .4, 1.0),2,2)
R12 <- matrix(c(.5, .3,
                .6, .4),2,2)
R21 <- matrix(c(.5, .6,
                .3, .4),2,2)
R22 <- matrix(c(1.0, .2,
                .2, 1.0),2,2)

In [27]:
R11s <- sqrtm(solve(R11))
R11s

     [,1]       [,2]
[1,]  1.0680744 -0.2229201
[2,] -0.2229201  1.0680744

In [28]:
R22s <- solve(R22)
R22s

     [,1]       [,2]
[1,]  1.0416667 -0.2083333
[2,] -0.2083333  1.0416667

In [29]:
result <- R11s%*%R12%*%R22s%*%R21%*%R11s
result

     [,1]      [,2]
[1,] 0.4369769 0.2177579
[2,] 0.2177579 0.1096501

In [30]:
eigen <- eigen(result)

In [31]:
eigenvalue <- eigen$value
eigenvalue

[1] 0.5457180317 0.0009089525

In [32]:
eigenvector <- eigen$vectors
eigenvector

     [,1]       [,2]
[1,] -0.8946536  0.4467605
[2,] -0.4467605 -0.8946536

In [33]:
a1 <- R11solved%*%eigenvector[,1]
a1

     [,1]
[1,] -0.8559647
[2,] -0.2777371

In [34]:
b1 <- R22s%*%R21%*%a1
b1

     [,1]
[1,] -0.4024674
[2,] -0.5441802

In [42]:
scale <- 1/(sqrtm(t(b1)%*%R22%*%b1))
newb1 <- (scale[1,1])*b1
newb1

     [,1]
[1,] -0.5448119
[2,] -0.7366455

In [48]:
# canonical correlation 1
r1_star <- eigenvalue[1]
sqrt(r1_star)

[1] 0.7387273

In [49]:
# canonical correlation 2
r2_star <- eigenvalue[2]
sqrt(r2_star)

[1] 0.03014884

## (a) Find the sample canonical correlations

## (b) Determine the first canonical pair U1, V1 and interpret these quantities.

# 10.11

Example 8.5 presents the correlation matrix obtained from n = 100 successive weekly rates of return for five stocks. Perform a canonical correlation analysis with $X^{(1)}$ = [$X_{1}^{(1)}$, $X_{2}^{(1)}$, $X_{3}^{(1)}$]', the rates of return for the chemical companies, and $X^{(2)}$ = [$X_{1}^{(2)}$, $X_{2}^{(2)}$]'
, the rates of return for the oil companies.

In [81]:
xbar <- matrix(c( .0054, .0048, .0057, .0063, .0037))
t(xbar)

     [,1]   [,2]   [,3]   [,4]   [,5]
[1,] 0.0054 0.0048 0.0057 0.0063 0.0037

In [82]:
R11 <- matrix(c(1, .577, .509,
                .577, 1, .599,
                .509, .599, 1),3,3)
R12 <- matrix(c(.387, .462,
                .389, .322,
                .436, .426),3,2)
R21 <- matrix(c(.387, .389, .436,
                .462, .322, .426),2,3)
R22 <- matrix(c(1, .523,
                .523, 1),2,2)

In [83]:
R11s <- sqrtm(solve(R11))
R11s

     [,1]       [,2]       [,3]
[1,]  1.2110505 -0.2989845 -0.2069603
[2,] -0.2989845  1.2849181 -0.3272904
[3,] -0.2069603 -0.3272904  1.2302152

In [84]:
R22s <- solve(R22)
R22s

     [,1]       [,2]
[1,]  1.3765174 -0.7199186
[2,] -0.7199186  1.3765174

In [85]:
result <- R11s%*%R12%*%R22s%*%R21%*%R11s
result

     [,1]       [,2]       [,3]
[1,] 0.07367962 0.09378181 0.05463157
[2,] 0.11521089 0.15009509 0.09996503
[3,] 0.09338917 0.12482467 0.09433852

In [86]:
eigen <- eigen(result)

In [87]:
eigenvalue <- eigen$value
eigenvalue

[1] 3.057340e-01 1.237918e-02 1.938603e-17

In [88]:
eigenvector <- eigen$vectors
eigenvector

     [,1]       [,2]        [,3]
[1,] -0.4179066 -0.61582732 -0.7297048
[2,] -0.6893887 -0.05530423  0.6652791
[3,] -0.5916902  0.78593776 -0.1579070

In [90]:
a1 <- R11s%*%eigenvector[,1]
a1

     [,1]
[1,] -0.1775331
[2,] -0.5672058
[3,] -0.4157860

In [91]:
b1 <- R22s%*%R21%*%a1
b1

     [,1]
[1,] -0.2533943
[2,] -0.3757091

In [92]:
scale <- 1/(sqrtm(t(b1)%*%R22%*%b1))
newb1 <- (scale[1,1])*b1
newb1

     [,1]
[1,] -0.4588641
[2,] -0.6803602

In [93]:
# canonical correlation 1
r1_star <- eigenvalue[1]
sqrt(r1_star)

[1] 0.5529322

In [94]:
# canonical correlation 2
r2_star <- eigenvalue[2]
sqrt(r2_star)

[1] 0.1112618

# 11.8

Use the diabetes data of Table 3.5.

In [114]:
diabetes <- read.xlsx("tabel_3.5.xlsx")
diabetes <- diabetes[,-1]
head(diabetes)

  y1   y2  x1  x2  x3
1 0.81  80 356 124  55
2 0.95  97 289 117  76
3 0.94 105 319 143 105
4 1.04  90 356 199 108
5 1.00  90 323 240 143
6 0.76  86 381 157 165

In [115]:
cor_diabetes <- cor(diabetes)
cor_diabetes

   y1         y2          x1          x2         x3
y1  1.0000000  0.16047812 0.175680799 -0.1438253  0.332284598
y2  0.1604781  1.00000000 0.072133311 -0.1132752 -0.170017219
x1  0.1756808  0.07213331 1.000000000  0.1638133  0.008216539
x2 -0.1438253 -0.11327520 0.163813321  1.0000000  0.368282904
x3  0.3322846 -0.17001722 0.008216539  0.3682829  1.000000000

In [116]:
R11 <- cor_diabetes[c(1,2),c(1,2)]
R11

   y1        y2
y1 1.0000000 0.1604781
y2 0.1604781 1.0000000

In [117]:
R12 <- cor_diabetes[c(1,2),c(3,4,5)]
R12

   x1         x2         x3
y1 0.17568080 -0.1438253  0.3322846
y2 0.07213331 -0.1132752 -0.1700172

In [118]:
R21 <- cor_diabetes[c(3,4,5),c(1,2)]
R21

   y1         y2
x1  0.1756808  0.07213331
x2 -0.1438253 -0.11327520
x3  0.3322846 -0.17001722

In [119]:
R22 <- cor_diabetes[c(3,4,5),c(3,4,5)]
R22

   x1          x2        x3
x1 1.000000000 0.1638133 0.008216539
x2 0.163813321 1.0000000 0.368282904
x3 0.008216539 0.3682829 1.000000000

## (a) Find the canonical correlations between $(y_{1}, y_{2})$ and $(x_{1}, x_{2}, x_{3})$.

In [120]:
R11s <- sqrtm(solve(R11))
R11s

     [,1]        [,2]
[1,]  1.00984275 -0.08155735
[2,] -0.08155735  1.00984275

In [121]:
R22s <- solve(R22)
R22s

   x1         x2         x3
x1  1.0309031 -0.1917658  0.0621536
x2 -0.1917658  1.1925868 -0.4376337
x3  0.0621536 -0.4376337  1.1606623

In [122]:
result <- R11s%*%R12%*%R22s%*%R21%*%R11s
result

     [,1]        [,2]
[1,]  0.25209303 -0.04570245
[2,] -0.04570245  0.04496109

In [123]:
eigen <- eigen(result)

In [124]:
eigenvalue <- eigen$value
eigenvalue

[1] 0.26172876 0.03532536

In [125]:
eigenvector <- eigen$vectors
eigenvector

     [,1]       [,2]
[1,] -0.9784886 -0.2063007
[2,]  0.2063007 -0.9784886

In [126]:
a1 <- R11s%*%eigenvector[,1]
a1

     [,1]
[1,] -1.0049450
[2,]  0.2881343

In [127]:
b1 <- R22s%*%R21%*%a1
b1

   [,1]
x1 -0.2058369
x2  0.3308953
x3 -0.5030873

In [128]:
scale <- 1/(sqrtm(t(b1)%*%R22%*%b1))
newb1 <- (scale[1,1])*b1
newb1

   [,1]
x1 -0.4023439
x2  0.6467924
x3 -0.9833716

In [129]:
# canonical correlation 1
r1_star <- eigenvalue[1]
sqrt(r1_star)

[1] 0.5115943

In [130]:
# canonical correlation 2
r2_star <- eigenvalue[2]
sqrt(r2_star)

[1] 0.1879504

## (b) Find the standardized coefficients for the canonical variates.

## (c) Test the significance of each canonical correlation.