In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats
import collections
import fuzzywuzzy
from pandas_profiling import ProfileReport
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import  accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn import metrics
from collections import Counter
from imblearn.over_sampling import SMOTE
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
train = pd.read_csv("final BRI/BRI Base Modelling.csv")
test = pd.read_csv('BRI hackthon/test.csv')

In [3]:
### profile_train = ProfileReport(train)
### profile_train.to_file('mantab.html')

In [4]:
train['Best Performance'].value_counts()

0    9516
1    1637
Name: Best Performance, dtype: int64

data antara best performance masih belum balance antara 1 dan 0

In [5]:
train.isna().sum()

job_duration_in_current_job_level        0
job_duration_in_current_person_level     0
job_duration_in_current_branch           0
gender                                   0
age                                      0
number_of_dependences                    0
year_graduated                           0
job_duration_from_training               0
branch_rotation                          0
job_rotation                             0
assign_of_otherposition                  0
annual leave                             0
sick_leaves                              0
Last_achievement_%                       1
Achievement_above_100%_during3quartal    1
Best Performance                         0
Jenis JG Job Level                       0
Jenis JG Person Level                    0
Jenis JG Branch Level                    0
joblevelcat                              0
personcat                                0
employeecat                              0
educationcat                             0
maritalcat                               0
AB                                       0
B                                        0
BC                                       0
C                                        0
D                                        0
T                                        0
dtype: int64

In [6]:
train = train.dropna()
train = train.reset_index().drop('index',axis=1)
train.isna().sum()

job_duration_in_current_job_level        0
job_duration_in_current_person_level     0
job_duration_in_current_branch           0
gender                                   0
age                                      0
number_of_dependences                    0
year_graduated                           0
job_duration_from_training               0
branch_rotation                          0
job_rotation                             0
assign_of_otherposition                  0
annual leave                             0
sick_leaves                              0
Last_achievement_%                       0
Achievement_above_100%_during3quartal    0
Best Performance                         0
Jenis JG Job Level                       0
Jenis JG Person Level                    0
Jenis JG Branch Level                    0
joblevelcat                              0
personcat                                0
employeecat                              0
educationcat                             0
maritalcat                               0
AB                                       0
B                                        0
BC                                       0
C                                        0
D                                        0
T                                        0
dtype: int64

In [18]:
maudrop = ['Jenis JG Job Level',
           'Jenis JG Person Level',
           'Jenis JG Branch Level',
           'joblevelcat',
          'Best Performance']
x = train.drop(maudrop,axis=1)
y = train['Best Performance']

x_train , x_test, y_train, y_test = train_test_split(x,y, test_size =0.1,random_state=1)

# Oversampling SMOTE Logistic Regression

In [19]:
print("Before oversampling: ",Counter(y_train))

Before oversampling:  Counter({0: 8554, 1: 1482})

In [20]:
x_train_SMOTE, y_train_SMOTE = SMOTE().fit_resample(x_train, y_train)

In [21]:
print("After oversampling: ",Counter(y_train_SMOTE))

After oversampling:  Counter({0: 8554, 1: 8554})

In [30]:
logmodel = LogisticRegression()
logmodel.fit(x_train_SMOTE,y_train_SMOTE)
prediction = logmodel.predict(x_test) # Prediksi berdasarkan treshold probability dari model
prob = logmodel.predict_proba(x_test) # Probabilitas prediksi

D:\Coolyeah\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [23]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       0.87      0.83      0.85       961
           1       0.17      0.22      0.19       155

    accuracy                           0.75      1116
   macro avg       0.52      0.53      0.52      1116
weighted avg       0.77      0.75      0.76      1116

In [24]:
print(confusion_matrix(y_test,prediction))

[[800 161]
 [121  34]]

In [25]:
accuracy_score(y_test,prediction)

0.7473118279569892

In [26]:
roc_auc_score(y_test,prediction)

0.5259105098855358

tingkat kepresisian data masih tergolong sangat rendah pada predict best performance 
hal ini mungkin saja karena penyebaran data terhadap best perfomance secara EDA yang telah dilakukan tampak seperti itu

In [27]:
prediction

array([0, 1, 0, ..., 0, 1, 0], dtype=int64)

In [29]:
x_test

,job_duration_in_current_job_level,job_duration_in_current_person_level,job_duration_in_current_branch,gender,age,number_of_dependences,year_graduated,job_duration_from_training,branch_rotation,job_rotation,...,personcat,employeecat,educationcat,maritalcat,AB,B,BC,C,D,T
6796,1.322876,1.322876,0.707107,2,28,1,7,2,2,2,...,2,0,4,1,1,0,0,0,0,0
10508,2.828427,1.870829,0.707107,2,55,3,16,27,10,5,...,5,0,4,1,1,0,0,0,0,0
4566,1.581139,1.581139,1.526434,1,36,0,11,6,3,3,...,2,2,4,0,1,0,0,0,0,0
7810,1.526434,1.526434,1.224745,1,33,0,11,6,4,4,...,2,0,4,0,0,0,0,0,0,1
4387,1.256981,1.256981,1.581139,2,32,1,9,5,2,2,...,2,0,4,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8340,1.191638,1.191638,1.915724,2,30,0,6,4,1,2,...,2,1,4,1,0,1,0,0,0,0
4019,1.385641,1.385641,0.648074,2,32,2,10,5,5,4,...,2,1,4,1,0,0,0,0,0,1
986,1.191638,1.191638,1.224745,2,36,1,15,6,3,3,...,2,0,3,1,0,1,0,0,0,0
3071,1.414214,1.414214,1.081665,2,31,0,9,5,4,2,...,2,0,4,1,0,0,0,0,0,0
5198,1.153256,1.153256,1.352775,1,32,0,9,4,3,3,...,2,2,4,1,0,1,0,0,0,0