In [23]:
# NIM/Nama  : 16519211/ Muhamad Taruna
# Tanggal   : 11 November 2019
# Deskripsi : mencari dan menghitung data secara umum tiap fakultas

#Algoritma
#mengimport fungsi pandas
import pandas as pd
#membaca file data
#data adalah file nilai-nilai
df = pd.read_csv("data.csv")
#Menghitung banyaknya data yang terdapat dalam file data
print("Banyaknya data dalam tabel adalah "+str(len(df)))
print(" ")
#Menampilkan data dari yang pertama hingga ke 10
print(df[0:10])
print(" ")
#menampilkan data dari ke50 hingga 60
print(df[49:60])
print(" ")
#menampilkan jumlah setiap fakultas 
print(df["fakultas"]. value_counts ())
print(" ")
#menampilkan nilai korelasi antara nilai kimia dan fisika
print(df["nilai_kim"].corr(df["nilai_fis"]))
#penjelasan nilai korelasi sesuai modul
print("Semakin mendekati 0, semakin dua kolom tidak berkorelasi")
print("Semakin mendekati 1, semakin dua kolom berbanding lurus.")
print("Semakin mendekati -1, semakin dua kolom berbanding terbalik")

Banyaknya data dalam tabel adalah 5938

                       nama fakultas  nilai_mat  nilai_kim  nilai_fis
0  Sinta Isfandiary Ainsyah     FITB      78.56      41.72      42.57
1       Darmadi Jayasaputra     FTMD      65.33      37.44      67.53
2  Annisa Ferina Ramadhiani     STEI      75.58      56.97      49.19
3         Rani Yasmina Rosa    SITHR      77.04      45.97      48.21
4             Ravy Muhammad    SITHS      83.72      35.12      47.17
5         Meutia Diva Hakim    SAPPK      62.51      35.86      42.27
6          Lucia Budiyani H     STEI      37.60      62.45      62.15
7            Ria Ratna Sari      FTI      82.66      46.18      54.88
8          Nailnabilla Zain    SITHS      88.35      45.79      57.48
9           Lisa Rachmawati    FMIPA      61.38      68.00      95.03

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
49                  Rosy Diana     FTSL      59.00      68.18      70.80
50               Widya Hastuti    SITHR      83.40      44.83      53.44
51  Andi Aulia Sukma Pamungkas     FTMD      66.01      64.85      67.59
52      Artin Priyantini Putri     FTMD      77.50      44.18      61.06
53        Riska Trismayangsari     FTSL      84.25      26.03      26.40
54  Hendryadi Daniil Kurniawan     FTMD      72.20      36.67      40.17
55  Debi Finianto Eko Prasetyo    SAPPK      90.76      65.53      70.79
56       Dian Setiawan Damanik    FMIPA      86.70      47.36      62.30
57             Andika Mahendra     FITB      66.63      46.91      49.14
58                Aminul Fikri     FTTM      57.96      46.04      55.11
59          Hafidz Alhaq Fatih    FMIPA      86.34      34.38      44.68

STEI     888
FTI      836
FTSL     757
FMIPA    754
FTTM     646
FTMD     619
FITB     475
SITHR    367
SAPPK    362
SITHS    234
Name: fakultas, dtype: int64

0.8124688015436738
Semakin mendekati 0, semakin dua kolom tidak berkorelasi
Semakin mendekati 1, semakin dua kolom berbanding lurus.
Semakin mendekati -1, semakin dua kolom berbanding terbalik