In [14]:
# NIM/Nama  : 16519211/ Muhamad Taruna
# Tanggal   : 11 November 2019
# Deskripsi : 

#Kamus

#Algoritma
#mengimport fungsi pandas
import pandas as pd
#membaca file data
#data adalah file nilai-nilai
df = pd.read_csv("data.csv")
#Mencari nilai-nilai tuan yon
print(df.loc[df["nama"] == "Tuan Yon"])
#Mencari nilai fisika terbesar
imax = df["nilai_fis"]. idxmax ()
print(df[imax:imax + 1])
#mencari 10 orang dengan nilai kimia terbesar
print((df. sort_values (["nilai_kim"], ascending =[0])[0:10]))
#mencari jumlah banyaknya mahasiswa yang nilai matematika <50
print("banyaknya mahasiswa dengan nilai matematika dibawah 50 adalah "+str(len(df.loc [(df["nilai_mat"] < 50)])))

          nama fakultas  nilai_mat  nilai_kim  nilai_fis
4087  Tuan Yon     FTMD      84.05      65.86      37.54
                        nama fakultas  nilai_mat  nilai_kim  nilai_fis
3240  Rhinocho Fathano Ilham    SITHR      80.59      85.28      97.83
                        nama fakultas  nilai_mat  nilai_kim  nilai_fis
3240  Rhinocho Fathano Ilham    SITHR      80.59      85.28      97.83
4626  Sella Tiana Pramestuti     STEI      84.14      83.85      80.71
2455         Ana Khoiriyanah      FTI      81.96      83.77      93.09
1713        Atika Sari Pohan    FMIPA      62.74      82.80      76.18
1943           Haryo Pambudi      FTI      84.74      82.31      91.70
3380            Dick Sigmund    SITHR      91.00      81.51      94.86
2829      Farhan Hilmyawan Y    FMIPA      63.80      81.34      71.68
1008      Ahmad Zammir Ribah     STEI      64.83      80.85      91.68
121         Richard Budianto     FTMD      82.72      80.42      81.90
995    Tesya Mardita Claudia     STEI      78.11      80.23      79.93
banyaknya mahasiswa dengan nilai matematika dibawah 50 adalah 387