# AdaBoost and GradientBoost Classifier

# Input packages and datasets

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier
from sklearn.metrics import accuracy_score

In [2]:
datatrain = pd.read_csv('Train.csv')
datatest = pd.read_csv('Test.csv')

In [3]:
datatrain = datatrain.drop(columns=["ID"])

# Preprocessing

Checking datasets

In [4]:
datatrain

,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
0,11,1101,0,1,27,0,0,1,1,1.077,15.075,26.919,390.869
1,11,1101,0,1,38,0,0,1,0,1.077,15.075,26.919,390.869
2,11,1101,0,0,36,0,0,0,1,1.077,15.075,26.919,390.869
3,11,1101,0,0,27,0,0,1,1,1.077,15.075,26.919,390.869
4,11,1101,0,1,36,1,0,0,0,1.077,15.075,26.919,390.869
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13621,94,9471,1,0,28,1,0,1,1,1.757,3.262,48.936,209.045
13622,94,9471,0,1,22,1,1,1,1,1.757,3.262,48.936,209.045
13623,94,9471,0,0,35,1,0,1,1,1.757,3.262,48.936,209.045
13624,94,9471,0,0,27,1,0,1,1,1.757,3.262,48.936,209.045
13625,94,9471,1,0,39,1,1,1,1,1.757,3.262,48.936,209.045

In [5]:
datatest

,ID,Provinsi,KodeKabKot,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
0,3,11,1101,1,39,0,0,1,1,1.077,15.075,26.919,390.869
1,5,11,1101,0,32,1,0,1,1,1.077,15.075,26.919,390.869
2,6,11,1101,1,32,1,0,1,1,1.077,15.075,26.919,390.869
3,10,11,1101,1,28,1,0,1,0,1.077,15.075,26.919,390.869
4,17,11,1101,0,31,1,0,1,1,1.077,15.075,26.919,390.869
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5901,19515,94,9471,1,39,0,1,1,1,1.757,3.262,48.936,209.045
5902,19525,94,9471,0,30,1,1,1,1,1.757,3.262,48.936,209.045
5903,19528,94,9471,0,22,1,1,1,1,1.757,3.262,48.936,209.045
5904,19531,94,9471,0,40,1,1,1,1,1.757,3.262,48.936,209.045
5905,19532,94,9471,0,38,1,0,1,1,1.757,3.262,48.936,209.045

In [6]:
datatrain.describe()

,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
count,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13621.000000
mean,44.562601,4477.179363,0.409511,0.610744,30.380229,0.487817,0.401805,0.813518,0.875899,1.227538,6.876482,35.597681,197.945368
std,26.377273,2633.993903,0.491762,0.487599,6.357110,0.499870,0.490281,0.389509,0.329709,1.059310,5.638141,33.103822,137.404420
min,11.000000,1101.000000,0.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.369000,0.861000,20.183000
25%,18.000000,1804.000000,0.000000,0.000000,26.000000,0.000000,0.000000,1.000000,1.000000,0.564000,3.183000,16.744000,102.438000
50%,35.000000,3523.000000,0.000000,1.000000,30.000000,0.000000,0.000000,1.000000,1.000000,0.908000,4.965000,25.896000,163.192000
75%,71.000000,7171.000000,1.000000,1.000000,35.000000,1.000000,1.000000,1.000000,1.000000,1.473000,8.334000,39.854000,257.738000
max,94.000000,9471.000000,1.000000,1.000000,54.000000,1.000000,1.000000,1.000000,1.000000,6.960000,35.237000,291.322000,1400.875000

Checking null

In [7]:
# data['workclass'].value_counts()
for x in datatrain.columns :
  print((datatrain[x] == '?').value_counts())
  print()

False    13626
Name: Provinsi, dtype: int64

False    13626
Name: KodeKabKot, dtype: int64

False    13626
Name: Y, dtype: int64

False    13626
Name: X1, dtype: int64

False    13626
Name: X2, dtype: int64

False    13626
Name: X3, dtype: int64

False    13626
Name: X4, dtype: int64

False    13626
Name: X5, dtype: int64

False    13626
Name: X6, dtype: int64

False    13626
Name: Z1, dtype: int64

False    13626
Name: Z2, dtype: int64

False    13626
Name: Z3, dtype: int64

False    13626
Name: Z4, dtype: int64

**Drop baris dan kolom pada tabel yang mengandung null**

**Lihat tabel dan struktur nya**

In [8]:
# get some rows informations
print(datatrain)

# describe the data
datatrain.describe()

       Provinsi  KodeKabKot  Y  X1  X2  X3  X4  X5  X6     Z1      Z2      Z3  \
0            11        1101  0   1  27   0   0   1   1  1.077  15.075  26.919
1            11        1101  0   1  38   0   0   1   0  1.077  15.075  26.919
2            11        1101  0   0  36   0   0   0   1  1.077  15.075  26.919
3            11        1101  0   0  27   0   0   1   1  1.077  15.075  26.919
4            11        1101  0   1  36   1   0   0   0  1.077  15.075  26.919
...         ...         ... ..  ..  ..  ..  ..  ..  ..    ...     ...     ...
13621        94        9471  1   0  28   1   0   1   1  1.757   3.262  48.936
13622        94        9471  0   1  22   1   1   1   1  1.757   3.262  48.936
13623        94        9471  0   0  35   1   0   1   1  1.757   3.262  48.936
13624        94        9471  0   0  27   1   0   1   1  1.757   3.262  48.936
13625        94        9471  1   0  39   1   1   1   1  1.757   3.262  48.936

            Z4
0      390.869
1      390.869
2      390.869
3      390.869
4      390.869
...        ...
13621  209.045
13622  209.045
13623  209.045
13624  209.045
13625  209.045

[13626 rows x 13 columns]

,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
count,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13621.000000
mean,44.562601,4477.179363,0.409511,0.610744,30.380229,0.487817,0.401805,0.813518,0.875899,1.227538,6.876482,35.597681,197.945368
std,26.377273,2633.993903,0.491762,0.487599,6.357110,0.499870,0.490281,0.389509,0.329709,1.059310,5.638141,33.103822,137.404420
min,11.000000,1101.000000,0.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.369000,0.861000,20.183000
25%,18.000000,1804.000000,0.000000,0.000000,26.000000,0.000000,0.000000,1.000000,1.000000,0.564000,3.183000,16.744000,102.438000
50%,35.000000,3523.000000,0.000000,1.000000,30.000000,0.000000,0.000000,1.000000,1.000000,0.908000,4.965000,25.896000,163.192000
75%,71.000000,7171.000000,1.000000,1.000000,35.000000,1.000000,1.000000,1.000000,1.000000,1.473000,8.334000,39.854000,257.738000
max,94.000000,9471.000000,1.000000,1.000000,54.000000,1.000000,1.000000,1.000000,1.000000,6.960000,35.237000,291.322000,1400.875000

**Cek type data**

In [9]:
datatrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13626 entries, 0 to 13625
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provinsi    13626 non-null  int64
 1   KodeKabKot  13626 non-null  int64
 2   Y           13626 non-null  int64
 3   X1          13626 non-null  int64
 4   X2          13626 non-null  int64
 5   X3          13626 non-null  int64
 6   X4          13626 non-null  int64
 7   X5          13626 non-null  int64
 8   X6          13626 non-null  int64
 9   Z1          13626 non-null  float64
 10  Z2          13626 non-null  float64
 11  Z3          13626 non-null  float64
 12  Z4          13621 non-null  float64
dtypes: float64(4), int64(9)
memory usage: 1.4 MB

**Lihat tabel 10 baris pertama**

In [10]:
datatrain.head(10)

,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
0,11,1101,0,1,27,0,0,1,1,1.077,15.075,26.919,390.869
1,11,1101,0,1,38,0,0,1,0,1.077,15.075,26.919,390.869
2,11,1101,0,0,36,0,0,0,1,1.077,15.075,26.919,390.869
3,11,1101,0,0,27,0,0,1,1,1.077,15.075,26.919,390.869
4,11,1101,0,1,36,1,0,0,0,1.077,15.075,26.919,390.869
5,11,1101,1,1,20,0,1,1,0,1.077,15.075,26.919,390.869
6,11,1101,0,1,27,0,1,1,1,1.077,15.075,26.919,390.869
7,11,1101,0,0,36,1,0,1,1,1.077,15.075,26.919,390.869
8,11,1101,0,0,33,1,0,1,1,1.077,15.075,26.919,390.869
9,11,1101,0,1,23,1,0,1,1,1.077,15.075,26.919,390.869

In [11]:
datatrain = datatrain.fillna(datatrain.median())
datatest = datatest.fillna(datatest.median())

In [12]:
datatrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13626 entries, 0 to 13625
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provinsi    13626 non-null  int64
 1   KodeKabKot  13626 non-null  int64
 2   Y           13626 non-null  int64
 3   X1          13626 non-null  int64
 4   X2          13626 non-null  int64
 5   X3          13626 non-null  int64
 6   X4          13626 non-null  int64
 7   X5          13626 non-null  int64
 8   X6          13626 non-null  int64
 9   Z1          13626 non-null  float64
 10  Z2          13626 non-null  float64
 11  Z3          13626 non-null  float64
 12  Z4          13626 non-null  float64
dtypes: float64(4), int64(9)
memory usage: 1.4 MB

In [13]:
prov = pd.get_dummies(datatrain["Provinsi"])
datatrain = datatrain.drop(["Provinsi"],axis=1)
datatrain = pd.concat([datatrain,prov],axis=1)

In [14]:
kabkot = pd.get_dummies(datatrain["KodeKabKot"])
datatrain = datatrain.drop(["KodeKabKot"],axis=1)
datatrain = pd.concat([datatrain,kabkot],axis=1)

In [15]:
datatrain

,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,...,9428,9429,9430,9431,9432,9433,9434,9435,9436,9471
0,0,1,27,0,0,1,1,1.077,15.075,26.919,...,0,0,0,0,0,0,0,0,0,0
1,0,1,38,0,0,1,0,1.077,15.075,26.919,...,0,0,0,0,0,0,0,0,0,0
2,0,0,36,0,0,0,1,1.077,15.075,26.919,...,0,0,0,0,0,0,0,0,0,0
3,0,0,27,0,0,1,1,1.077,15.075,26.919,...,0,0,0,0,0,0,0,0,0,0
4,0,1,36,1,0,0,0,1.077,15.075,26.919,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13621,1,0,28,1,0,1,1,1.757,3.262,48.936,...,0,0,0,0,0,0,0,0,0,1
13622,0,1,22,1,1,1,1,1.757,3.262,48.936,...,0,0,0,0,0,0,0,0,0,1
13623,0,0,35,1,0,1,1,1.757,3.262,48.936,...,0,0,0,0,0,0,0,0,0,1
13624,0,0,27,1,0,1,1,1.757,3.262,48.936,...,0,0,0,0,0,0,0,0,0,1
13625,1,0,39,1,1,1,1,1.757,3.262,48.936,...,0,0,0,0,0,0,0,0,0,1

Changing categorical data

# Define X and Y

In [16]:
#dfx = datatrain.drop(columns='TARGET LABEL (SYMPTOM TIME)')
datatestbuatmodel = datatrain.drop(columns='Y')

In [17]:
#dfy = df['TARGET LABEL (SYMPTOM TIME)']
datatestybuatmodel = datatrain['Y']

# Split Train and Test Data

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(datatestbuatmodel, datatestybuatmodel, test_size=0.30, random_state=0)

# Modeling

AdaBoost Classifier default parameters

In [20]:
abc = AdaBoostClassifier()
abc.fit(X_train, y_train)
y_pred = abc.predict(X_test)
accuracy_score(y_test, y_pred)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

KeyboardInterrupt:

In [ ]:
from sklearn.metrics import classification_report,accuracy_score
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
print(classification_report(y_test, y_pred))

Parameters tuning with gridsearchcv

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import GridSearchCV

model = AdaBoostClassifier(random_state=100)
params = {
    'n_estimators':(50,100),
    'learning_rate':[0.5, 1]
}
gs = GridSearchCV(model, params)
gs.fit(X_train, y_train)
y_pred = gs.predict(X_test)
print('Best parameter: ', gs.best_params_)

AdaBoost Classifier with best parameter

In [ ]:
abc = AdaBoostClassifier(learning_rate=1, n_estimators=1000)
abc.fit(X_train, y_train)
y_pred = abc.predict(X_test)
accuracy_score(y_test, y_pred)

In [ ]:
print(classification_report(y_test, y_pred))

GradientBoost with default parameters

In [ ]:
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)
y_pred = gbc.predict(X_test)
accuracy_score(y_test, y_pred)

In [ ]:
print(classification_report(y_test, y_pred))

Parameters tuning

In [ ]:
model = GradientBoostingClassifier(random_state=100)
params = {
        'n_estimators':range(1,50),
        'learning_rate':[0.001, 0.01, 0.1, 0.2, 0.5, 1]
}
gs = GridSearchCV(model, params)
gs.fit(X_train, y_train)
print('Best parameter: ', gs.best_params_)

GradientBoost with best parameters

In [ ]:
gbc = GradientBoostingClassifier(learning_rate=0.55, n_estimators=300)
gbc.fit(X_train, y_train)
y_pred = gbc.predict(X_test)
accuracy_score(y_test, y_pred)

In [ ]:
print(classification_report(y_test, y_pred))

In [ ]:
hasil = gbc.predict(datatest)
hasil =

# Summary

Dengan hasil diatas maka dapat diambil kesimpulan bahwa 81.5% data dapat dijelaskan oleh model Adaboost Classifier dan 80% data dapat dijelaskan oleh model GradientBoost Classifier. Sisanya merupakan error atau pengaruh lainnya.

In [ ]:
datatest

In [ ]:
datatrain.info()