In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier
from sklearn.metrics import accuracy_score
import seaborn as sns
datatrain = pd.read_csv('Train.csv')
datatest = pd.read_csv('Test.csv')
datatrain = datatrain.drop(columns=["ID","Provinsi","KodeKabKot"])

In [2]:
datatrain

       Y  X1  X2  X3  X4  X5  X6     Z1      Z2      Z3       Z4
0      0   1  27   0   0   1   1  1.077  15.075  26.919  390.869
1      0   1  38   0   0   1   0  1.077  15.075  26.919  390.869
2      0   0  36   0   0   0   1  1.077  15.075  26.919  390.869
3      0   0  27   0   0   1   1  1.077  15.075  26.919  390.869
4      0   1  36   1   0   0   0  1.077  15.075  26.919  390.869
...   ..  ..  ..  ..  ..  ..  ..    ...     ...     ...      ...
13621  1   0  28   1   0   1   1  1.757   3.262  48.936  209.045
13622  0   1  22   1   1   1   1  1.757   3.262  48.936  209.045
13623  0   0  35   1   0   1   1  1.757   3.262  48.936  209.045
13624  0   0  27   1   0   1   1  1.757   3.262  48.936  209.045
13625  1   0  39   1   1   1   1  1.757   3.262  48.936  209.045

[13626 rows x 11 columns]

In [6]:
datatrain = datatrain.fillna(datatrain['Z4'].mean())

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(datatrain.drop(columns="Y"), datatrain["Y"], test_size=0.30, random_state=1)

In [12]:
from sklearn import svm
model = svm.SVC(kernel='rbf')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)
from sklearn.metrics import classification_report,accuracy_score
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.59      0.99      0.74      2414
           1       0.59      0.02      0.03      1674

    accuracy                           0.59      4088
   macro avg       0.59      0.50      0.39      4088
weighted avg       0.59      0.59      0.45      4088

In [57]:
from sklearn.ensemble import GradientBoostingRegressor
gbc = GradientBoostingRegressor(learning_rate=0.1, n_estimators=50)
gbc.fit(X_train, y_train)
y_pred = gbc.predict(X_test)
y_pred[y_pred>=0.5] = 1
y_pred[y_pred<0.5] = 0
accuracy_score(y_test, y_pred)

0.6320939334637965

In [58]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.64      0.88      0.74      2414
           1       0.61      0.28      0.38      1674

    accuracy                           0.63      4088
   macro avg       0.62      0.58      0.56      4088
weighted avg       0.63      0.63      0.59      4088