# Input packages and datasets

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('airline_delays.csv')
data = data.drop(columns="Unnamed: 0")

from pandas_profiling import ProfileReport
profile = ProfileReport(data)
profile.to_file("mantab.html")

DEP_DEL15: 						TARGET Binary of a departure delay over 15 minutes (1 is yes)
DISTANCE_GROUP:					Distance group to be flown by departing aircraft
DEP_BLOCK:						Departure block
SEGMENT_NUMBER:					The segment that this tail number is on for the day
CONCURRENT_FLIGHTS:				Concurrent flights leaving from the airport in the same departure block
NUMBER_OF_SEATS:				Number of seats on the aircraft
CARRIER_NAME:					Carrier
AIRPORT_FLIGHTS_MONTH:			Avg Airport Flights per Month
AIRLINE_FLIGHTS_MONTH:			Avg Airline Flights per Month
AIRLINE_AIRPORT_FLIGHTS_MONTH:	Avg Flights per month for Airline AND Airport
AVG_MONTHLY_PASS_AIRPORT:		Avg Passengers for the departing airport for the month
AVG_MONTHLY_PASS_AIRLINE:		Avg Passengers for airline for month
FLT_ATTENDANTS_PER_PASS:		Flight attendants per passenger for airline
GROUND_SERV_PER_PASS:			Ground service employees (service desk) per passenger for airline
PLANE_AGE:						Age of departing aircraft
DEPARTING_AIRPORT:				Departing Airport
LATITUDE:						Latitude of departing airport
LONGITUDE:						Longitude of departing airport
PREVIOUS_AIRPORT:				Previous airport that aircraft departed from
PRCP:							Inches of precipitation for day
SNOW:							Inches of snowfall for day
SNWD:							Inches of snow on ground for day
TMAX:							Max temperature for day
AWND:							Max wind speed for day

Universal
DEP_DEL15: 						TARGET Binary of a departure delay over 15 minutes (1 is yes)
DEP_BLOCK:						Departure block
AIRLINE_AIRPORT_FLIGHTS_MONTH:	Avg Flights per month for Airline AND Airport
PREVIOUS_AIRPORT:				Previous airport that aircraft departed from

Airport
AIRPORT_FLIGHTS_MONTH:			Avg Airport Flights per Month
AVG_MONTHLY_PASS_AIRPORT:		Avg Passengers for the departing airport for the month
DEPARTING_AIRPORT:				Departing Airport
CONCURRENT_FLIGHTS:				Concurrent flights leaving from the airport in the same departure block

Airline
AIRLINE_FLIGHTS_MONTH:			Avg Airline Flights per Month
AVG_MONTHLY_PASS_AIRLINE:		Avg Passengers for airline for month
FLT_ATTENDANTS_PER_PASS:		Flight attendants per passenger for airline
GROUND_SERV_PER_PASS:			Ground service employees (service desk) per passenger for airline

Aircraft
NUMBER_OF_SEATS:				Number of seats on the aircraft
DISTANCE_GROUP:					Distance group to be flown by departing aircraft
PLANE_AGE:						Age of departing aircraft

Environment (Day)
SEGMENT_NUMBER:					The segment that this tail number is on for the day
PRCP:							Inches of precipitation for day
SNOW:							Inches of snowfall for day
SNWD:							Inches of snow on ground for day
TMAX:							Max temperature for day
AWND:							Max wind speed for day

Drop
CARRIER_NAME:					Carrier
LATITUDE:						Latitude of departing airport
LONGITUDE:						Longitude of departing airport

# Preprocessing

In [3]:
data=data.drop_duplicates()
data.head(5)

,DEP_DEL15,DISTANCE_GROUP,DEP_BLOCK,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,AIRLINE_FLIGHTS_MONTH,AIRLINE_AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,0,10,EARLY_MORNING,1,7,187,American Airlines Inc.,11493,75591,479,...,7,Seattle International,47.447,-122.306,NONE,0.16,0.0,0.0,52.0,4.92
1,0,4,MORNING,1,95,180,Delta Air Lines Inc.,11493,80026,2509,...,0,Seattle International,47.447,-122.306,NONE,0.16,0.0,0.0,52.0,4.92
2,0,4,MORNING,1,95,160,Delta Air Lines Inc.,11493,80026,2509,...,18,Seattle International,47.447,-122.306,NONE,0.16,0.0,0.0,52.0,4.92
3,0,5,MORNING,1,95,160,Delta Air Lines Inc.,11493,80026,2509,...,18,Seattle International,47.447,-122.306,NONE,0.16,0.0,0.0,52.0,4.92
4,0,7,MORNING,1,95,132,Delta Air Lines Inc.,11493,80026,2509,...,18,Seattle International,47.447,-122.306,NONE,0.16,0.0,0.0,52.0,4.92

In [4]:
daycolumn = ['DEP_DEL15','DEP_BLOCK','AIRLINE_AIRPORT_FLIGHTS_MONTH','PREVIOUS_AIRPORT','SEGMENT_NUMBER', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'AWND']
daydata = data[daycolumn]
daydata.nunique()

DEP_DEL15                          2
DEP_BLOCK                          6
AIRLINE_AIRPORT_FLIGHTS_MONTH    509
PREVIOUS_AIRPORT                 324
SEGMENT_NUMBER                    13
PRCP                              76
SNOW                              20
SNWD                              12
TMAX                              66
AWND                              81
dtype: int64

In [5]:
daydata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51995 entries, 0 to 52703
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DEP_DEL15                      51995 non-null  int64
 1   DEP_BLOCK                      51995 non-null  object
 2   AIRLINE_AIRPORT_FLIGHTS_MONTH  51995 non-null  int64
 3   PREVIOUS_AIRPORT               51995 non-null  object
 4   SEGMENT_NUMBER                 51995 non-null  int64
 5   PRCP                           51995 non-null  float64
 6   SNOW                           51995 non-null  float64
 7   SNWD                           51995 non-null  float64
 8   TMAX                           51995 non-null  float64
 9   AWND                           51995 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 4.4+ MB

In [6]:
daydata.describe()

,DEP_DEL15,AIRLINE_AIRPORT_FLIGHTS_MONTH,SEGMENT_NUMBER,PRCP,SNOW,SNWD,TMAX,AWND
count,51995.000000,51995.000000,51995.00000,51995.000000,51995.000000,51995.000000,51995.000000,51995.000000
mean,0.198077,3304.006154,2.69247,0.177483,0.105908,0.158529,59.210424,9.314073
std,0.398554,4024.147760,1.54669,0.331000,0.467742,0.795649,14.672152,4.222185
min,0.000000,1.000000,1.00000,0.000000,0.000000,0.000000,5.000000,1.120000
25%,0.000000,602.000000,1.00000,0.000000,0.000000,0.000000,48.000000,5.820000
50%,0.000000,2048.000000,2.00000,0.010000,0.000000,0.000000,59.000000,8.950000
75%,0.000000,4681.000000,4.00000,0.195000,0.000000,0.000000,70.000000,11.860000
max,1.000000,19461.000000,13.00000,2.020000,6.300000,11.000000,88.000000,25.050000

# Graph

## Percentage

### SEGMENT_NUMBER

In [7]:
SN = pd.crosstab(index=daydata["SEGMENT_NUMBER"], 
                           columns=daydata["DEP_DEL15"])
SN

DEP_DEL15           0     1
SEGMENT_NUMBER
1               11834  1805
2               11278  2661
3                7629  2272
4                6153  1990
5                2554   914
6                1673   493
7                 275    84
8                 179    62
9                  42     8
10                 30     5
11                 25     3
12                 18     2
13                  6     0

In [8]:
SNPercent = SN[(SN[1]/(SN[0]+SN[1]))>0.25]
for i in SNPercent[0].keys():
    tempt0 = SNPercent[0][i]
    tempt1 = SNPercent[1][i]
    SNPercent[0][i] =  tempt0*100/(tempt0+tempt1)
    SNPercent[1][i] =  tempt1*100/(tempt0+tempt1)
SNPercent

C:\Users\user\AppData\Local\Temp/ipykernel_5480/2027043972.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SNPercent[0][i] =  tempt0*100/(tempt0+tempt1)
C:\Users\user\AppData\Local\Temp/ipykernel_5480/2027043972.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SNPercent[1][i] =  tempt1*100/(tempt0+tempt1)

DEP_DEL15        0   1
SEGMENT_NUMBER
5               73  26
8               74  25

In [9]:
SNPercent = SN[(SN[1]/(SN[0]+SN[1]))>0.25]
for i in SNPercent[0].keys():
    print(str(i)+" : "+str(SNPercent[0][i]*100/(SNPercent[0][i]+SNPercent[1][i]))+
          " "+str(SNPercent[1][i]*100/(SNPercent[0][i]+SNPercent[1][i])))

5 : 73.64475201845444 26.35524798154556
8 : 74.27385892116183 25.726141078838175

### PRCP

In [10]:
PRCP = pd.crosstab(index=daydata["PRCP"], 
                           columns=daydata["DEP_DEL15"])
PRCP

DEP_DEL15      0     1
PRCP
0.00       22000  3859
0.01        1211   269
0.02         450    97
0.03        1283   474
0.04         739   408
...          ...   ...
1.49         160    39
1.52          75    16
1.60         197    36
1.80          17    25
2.02          16     1

[76 rows x 2 columns]

In [11]:
PRCPPercent = PRCP[(PRCP[1]/(PRCP[0]+PRCP[1]))>0.5]
for i in PRCPPercent[0].keys():
    tempt0 = PRCPPercent[0][i]
    tempt1 = PRCPPercent[1][i]
    PRCPPercent[0][i] =  tempt0*100/(tempt0+tempt1)
    PRCPPercent[1][i] =  tempt1*100/(tempt0+tempt1)
PRCPPercent

C:\Users\user\AppData\Local\Temp/ipykernel_5480/1167599368.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PRCPPercent[0][i] =  tempt0*100/(tempt0+tempt1)
C:\Users\user\AppData\Local\Temp/ipykernel_5480/1167599368.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PRCPPercent[1][i] =  tempt1*100/(tempt0+tempt1)

DEP_DEL15   0   1
PRCP
0.77       47  52
1.80       40  59

In [12]:
PRCPPercent = PRCP[(PRCP[1]/(PRCP[0]+PRCP[1]))>0.5]
for i in PRCPPercent[0].keys():
    print(str(i)+" : "+str(PRCPPercent[0][i]*100/(PRCPPercent[0][i]+PRCPPercent[1][i]))+
          " "+str(PRCPPercent[1][i]*100/(PRCPPercent[0][i]+PRCPPercent[1][i])))

0.77 : 47.61904761904762 52.38095238095238
1.8 : 40.476190476190474 59.523809523809526

### SNOW

In [13]:
SNOW = pd.crosstab(index=daydata["SNOW"], 
                           columns=daydata["DEP_DEL15"])
SNOW

DEP_DEL15      0     1
SNOW
0.0        38071  8959
0.2          296    68
0.3          464   119
0.4          638   156
0.5          727   350
0.6           14    10
0.7          313    71
1.1           15     9
1.5           39    18
1.8          210    70
1.9          373   142
2.1          235   135
2.5           79    36
3.1           52    10
3.2           55    34
3.5           23     5
3.6           29    23
3.7           23    47
5.0           20    15
6.3           20    22

In [14]:
SNOWPercent = SNOW[(SNOW[1]/(SNOW[0]+SNOW[1]))>0.25]
for i in SNOWPercent[0].keys():
    tempt0 = SNOWPercent[0][i]
    tempt1 = SNOWPercent[1][i]
    SNOWPercent[0][i] =  tempt0*100/(tempt0+tempt1)
    SNOWPercent[1][i] =  tempt1*100/(tempt0+tempt1)
SNOWPercent

C:\Users\user\AppData\Local\Temp/ipykernel_5480/1998872615.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SNOWPercent[0][i] =  tempt0*100/(tempt0+tempt1)
C:\Users\user\AppData\Local\Temp/ipykernel_5480/1998872615.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SNOWPercent[1][i] =  tempt1*100/(tempt0+tempt1)

DEP_DEL15   0   1
SNOW
0.5        67  32
0.6        58  41
1.1        62  37
1.5        68  31
1.9        72  27
2.1        63  36
2.5        68  31
3.2        61  38
3.6        55  44
3.7        32  67
5.0        57  42
6.3        47  52

In [15]:
SNOWPercent = SNOW[(SNOW[1]/(SNOW[0]+SNOW[1]))>0.25]
for i in SNOWPercent[0].keys():
    print(str(i)+" : "+str(SNOWPercent[0][i]*100/(SNOWPercent[0][i]+SNOWPercent[1][i]))+
          " \t"+str(SNOWPercent[1][i]*100/(SNOWPercent[0][i]+SNOWPercent[1][i])))

0.5 : 67.50232126276694 	32.49767873723305
0.6 : 58.333333333333336 	41.666666666666664
1.1 : 62.5 	37.5
1.5 : 68.42105263157895 	31.57894736842105
1.9 : 72.42718446601941 	27.57281553398058
2.1 : 63.513513513513516 	36.486486486486484
2.5 : 68.69565217391305 	31.304347826086957
3.2 : 61.79775280898876 	38.20224719101124
3.6 : 55.76923076923077 	44.23076923076923
3.7 : 32.857142857142854 	67.14285714285714
5.0 : 57.142857142857146 	42.857142857142854
6.3 : 47.61904761904762 	52.38095238095238

### SNWD

In [16]:
SNWD = pd.crosstab(index=daydata["SNWD"], 
                           columns=daydata["DEP_DEL15"])
SNWD

DEP_DEL15      0     1
SNWD
0.0        39025  9267
1.2         1625   546
2.0          581   370
3.1           41     4
3.9          109    33
5.1           39    18
5.9           43    12
7.1           15    14
7.9          130    19
9.1           23     5
9.8           33     6
11.0          32     5

In [17]:
SNWDPercent = SNWD[(SNWD[1]/(SNWD[0]+SNWD[1]))>0.25]
for i in SNWDPercent[0].keys():
    tempt0 = SNWDPercent[0][i]
    tempt1 = SNWDPercent[1][i]
    SNWDPercent[0][i] =  tempt0*100/(tempt0+tempt1)
    SNWDPercent[1][i] =  tempt1*100/(tempt0+tempt1)
SNWDPercent

C:\Users\user\AppData\Local\Temp/ipykernel_5480/1750940319.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SNWDPercent[0][i] =  tempt0*100/(tempt0+tempt1)
C:\Users\user\AppData\Local\Temp/ipykernel_5480/1750940319.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SNWDPercent[1][i] =  tempt1*100/(tempt0+tempt1)

DEP_DEL15   0   1
SNWD
1.2        74  25
2.0        61  38
5.1        68  31
7.1        51  48

In [18]:
SNWDPercent = SNWD[(SNWD[1]/(SNWD[0]+SNWD[1]))>0.25]
for i in SNWDPercent[0].keys():
    print(str(i)+" : "+str(SNWDPercent[0][i]*100/(SNWDPercent[0][i]+SNWDPercent[1][i]))+
          " \t"+str(SNWDPercent[1][i]*100/(SNWDPercent[0][i]+SNWDPercent[1][i])))

1.2 : 74.8502994011976 	25.149700598802394
2.0 : 61.09358569926393 	38.90641430073607
5.1 : 68.42105263157895 	31.57894736842105
7.1 : 51.724137931034484 	48.275862068965516

### TMAX

In [19]:
TMAX = pd.crosstab(index=daydata["TMAX"], 
                           columns=daydata["DEP_DEL15"])
TMAX

DEP_DEL15     0    1
TMAX
5.0          68   13
10.0         36    3
11.0         32    5
20.0         22   10
22.0         23   47
...         ...  ...
84.0       1208  273
85.0        150   47
86.0         94   34
87.0        350  249
88.0         60   34

[66 rows x 2 columns]

In [20]:
TMAXPercent = TMAX[(TMAX[1]/(TMAX[0]+TMAX[1]))>0.3]
for i in TMAXPercent[0].keys():
    tempt0 = TMAXPercent[0][i]
    tempt1 = TMAXPercent[1][i]
    TMAXPercent[0][i] =  tempt0*100/(tempt0+tempt1)
    TMAXPercent[1][i] =  tempt1*100/(tempt0+tempt1)
TMAXPercent

C:\Users\user\AppData\Local\Temp/ipykernel_5480/271871790.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TMAXPercent[0][i] =  tempt0*100/(tempt0+tempt1)
C:\Users\user\AppData\Local\Temp/ipykernel_5480/271871790.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TMAXPercent[1][i] =  tempt1*100/(tempt0+tempt1)

DEP_DEL15   0   1
TMAX
20.0       68  31
22.0       32  67
30.0       58  41
33.0       68  31
35.0       59  40
43.0       68  31
74.0       58  41
82.0       59  40
87.0       58  41
88.0       63  36

In [21]:
TMAXPercent = TMAX[(TMAX[1]/(TMAX[0]+TMAX[1]))>0.3]
for i in TMAXPercent[0].keys():
    print(str(i)+" : "+str(TMAXPercent[0][i]*100/(TMAXPercent[0][i]+TMAXPercent[1][i]))+
          " \t"+str(TMAXPercent[1][i]*100/(TMAXPercent[0][i]+TMAXPercent[1][i])))

20.0 : 68.75 	31.25
22.0 : 32.857142857142854 	67.14285714285714
30.0 : 58.333333333333336 	41.666666666666664
33.0 : 68.52886405959032 	31.471135940409685
35.0 : 59.66183574879227 	40.33816425120773
43.0 : 68.85119506553585 	31.14880493446415
74.0 : 58.45410628019324 	41.54589371980676
82.0 : 59.31558935361217 	40.68441064638783
87.0 : 58.43071786310517 	41.56928213689483
88.0 : 63.829787234042556 	36.170212765957444

### AWND

In [28]:
AWND = pd.crosstab(index=daydata["AWND"], 
                           columns=daydata["DEP_DEL15"])
AWND

DEP_DEL15    0    1
AWND
1.12        40    2
1.34        92    9
1.79        73    5
2.01       122   15
2.24        37    5
...        ...  ...
20.36       28    3
21.92       27   12
23.04       38    2
23.71       15   14
25.05      235  135

[81 rows x 2 columns]

In [30]:
AWNDPercent = AWND[(AWND[1]/(AWND[0]+AWND[1]))>0.3]
for i in AWNDPercent[0].keys():
    tempt0 = AWNDPercent[0][i]
    tempt1 = AWNDPercent[1][i]
    AWNDPercent[0][i] =  tempt0*100/(tempt0+tempt1)
    AWNDPercent[1][i] =  tempt1*100/(tempt0+tempt1)
AWNDPercent

C:\Users\user\AppData\Local\Temp/ipykernel_5480/2273280087.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AWNDPercent[0][i] =  tempt0*100/(tempt0+tempt1)
C:\Users\user\AppData\Local\Temp/ipykernel_5480/2273280087.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AWNDPercent[1][i] =  tempt1*100/(tempt0+tempt1)

DEP_DEL15   0   1
AWND
11.86      67  32
12.30      56  43
14.32      61  38
15.21      69  30
15.88      58  41
19.01      61  38
19.24      68  31
19.46      67  32
21.92      69  30
23.71      51  48
25.05      63  36

In [32]:
AWNDPercent = AWND[(AWND[1]/(AWND[0]+AWND[1]))>0.3]
for i in AWNDPercent[0].keys():
    print(str(i)+" : "+str(AWNDPercent[0][i]*100/(AWNDPercent[0][i]+AWNDPercent[1][i]))+
          " \t"+str(AWNDPercent[1][i]*100/(AWNDPercent[0][i]+AWNDPercent[1][i])))

11.86 : 67.33238231098431 	32.66761768901569
12.3 : 56.607142857142854 	43.392857142857146
14.32 : 61.892247043363994 	38.107752956636006
15.21 : 69.91150442477876 	30.088495575221238
15.88 : 58.18181818181818 	41.81818181818182
19.01 : 61.42857142857143 	38.57142857142857
19.24 : 68.54304635761589 	31.456953642384107
19.46 : 67.77777777777777 	32.22222222222222
21.92 : 69.23076923076923 	30.76923076923077
23.71 : 51.724137931034484 	48.275862068965516
25.05 : 63.513513513513516 	36.486486486486484

## Violin Plot

In [25]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.DISTANCE_GROUP)

NameError: name 'datagraph' is not defined

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.SEGMENT_NUMBER)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.CONCURRENT_FLIGHTS)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.NUMBER_OF_SEATS)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.AIRLINE_AIRPORT_FLIGHTS_MONTH)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.AVG_MONTHLY_PASS_AIRPORT)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.AVG_MONTHLY_PASS_AIRLINE)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.FLT_ATTENDANTS_PER_PASS)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.GROUND_SERV_PER_PASS)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.PLANE_AGE)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.PRCP)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.SNOW)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.SNWD)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.TMAX)

In [ ]:
sns.violinplot(x=datagraph.DEP_DEL15 , y=datagraph.AWND)