**Dataset yang digunakan**

In [ ]:
library(readxl)

In [ ]:
data <- read_excel("3si1.xlsx")
data

  x1 x2 x3
1 9  12 3
2 2   8 4
3 6   6 0
4 5   4 2
5 8  10 1

***Matriks corelation and covariants***

In [ ]:
cov(data)

   x1    x2   x3
x1  7.50  5.0 -1.75
x2  5.00 10.0  1.50
x3 -1.75  1.5  2.50

In [ ]:
cor(data)

   x1         x2        x3
x1  1.0000000 0.5773503 -0.4041452
x2  0.5773503 1.0000000  0.3000000
x3 -0.4041452 0.3000000  1.0000000

***Eigen value and eigen vector***

In [ ]:
#dm1<-data.matrix(df1)
eigen(cov(data))

eigen() decomposition
$values
[1] 13.9049009  5.4143634  0.6807358

$vectors
             [,1]       [,2]       [,3]
[1,] -0.613679310 -0.6232975  0.4846627
[2,] -0.789496144  0.4769002 -0.3863444
[3,] -0.009671757  0.6197309  0.7847548