In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold

from pandas_profiling import ProfileReport

# Importing File

In [2]:
train = pd.read_csv("public-train.csv",delimiter="|")

In [3]:
train.head()

,author_id,description,bookformat,bookedition,pages,published_date,publisher_id,reading_age,lexile_measure,grade_level,...,genre_1_weight,genre_2_weight,genre_3_weight,genre_4_weight,genre_5_weight,genre_6_weight,genre_7_weight,genre_8_weight,genre_9_weight,price
0,author2106,"Just after the Second World War, in the small ...",Hardcover,NaN,309.0,NaN,NaN,NaN,NaN,NaN,...,0.22,0.08,0.06,0.05,0.04,0.03,0.02,0.02,0.02,NaN
1,author1018,"Blame it on Hawaii’s rainbows, sparkling beach...",Paperback,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,author1087,"The Pulitzer Prize–winning, bestselling author...",Hardcover,NaN,496.0,NaN,NaN,NaN,NaN,NaN,...,0.22,0.08,0.08,0.05,0.05,0.04,0.02,0.02,0.02,NaN
3,author1295,THINGS ARE ABOUT TO GET SERIOUS FOR HARRY DRES...,Hardcover,First Edition,418.0,NaN,NaN,NaN,NaN,NaN,...,0.30,0.08,0.05,0.04,0.04,0.03,0.02,0.02,0.02,NaN
4,author2622,The Romanovs were the most successful dynasty ...,Hardcover,NaN,784.0,NaN,NaN,NaN,NaN,NaN,...,0.30,0.09,0.08,0.04,0.02,0.01,0.01,0.01,0.01,NaN

# Profiling Report and analysis

profile = ProfileReport(train, title="Find IT UGM Profiling Report")

profile.to_file("Find IT UGM Profiling Report.html")

<b> Setelah melihat profiling report </b>

Hal yang patut diperhatikan (7 Mei 2021)
- terdapat deskripsi karya buku yang sama, ada apa ? kok bisa? apakah bukunya sama ? apakah buku  sama dengan edisi berbeda ?
- edisi buku memiliki banyak nilai NULL (93.5 persen), terlalu banyak miss
- edisi buku memiliki makna yang sama dengan frasa yang berbeda contoh (first edition, 1st edition, 1st dsb) <b> mesti di sama ratakan semua </b>
- published_date dan publisher_id memiliki jumlah NULL yang sama, apakah divariable yang sama ? tingkat NULL 84.0 persen (2982 NULL)
- reading_age memiliki NULL 96.5 persen dan memiliki makna yang aneh, mesti ditinjau lebih lanjut (rentangya)
- lexile_measure memiliki NULL 97.5 persen
- grade level memiliki NULL 97.2 persen
- weight memiliki NULL 85.4 persen
- kredibilitas sumber 1 tentang rating diragukan karena memiliki 84.4 persen NULL
- dimension memiliki NULL > 85.6 persen
- genre weight dan genre mesti disatukan, mungkin bisa dibuat seluruh genre dulu, trs defaultnya 0. kalau dia ada genre apa baru di isi sesuai weightnya  gitu

<b> VARIABEL PRICE NULL SEBANYAK 84.7 PERSEN PADAHAL INI BAGIAN YANG PENGEN DIPREDIKSI, TRUS GIMNA ???? </b>

# Mencoba analisis data

trainPrice = train[train['price'].isna()==False]

ProfileReport(trainPrice,title="Find IT UGM Profiling Report without price NULL").to_file("Find IT UGM Profiling Report without price NULL.html")

In [4]:
trainPrice.head(5)

NameError: name 'trainPrice' is not defined

In [ ]:
train = trainPrice

In [ ]:
train.bookformat.unique()