# AdaBoost and GradientBoost Classifier

# Input packages and datasets

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [2]:
datatrain = pd.read_csv('Train.csv')
datatest = pd.read_csv('Test.csv')

# Preprocessing

## Train Data

In [3]:
datatrain

,ID,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
0,1,11,1101,0,1,27,0,0,1,1,1.077,15.075,26.919,390.869
1,2,11,1101,0,1,38,0,0,1,0,1.077,15.075,26.919,390.869
2,4,11,1101,0,0,36,0,0,0,1,1.077,15.075,26.919,390.869
3,7,11,1101,0,0,27,0,0,1,1,1.077,15.075,26.919,390.869
4,8,11,1101,0,1,36,1,0,0,0,1.077,15.075,26.919,390.869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13621,19524,94,9471,1,0,28,1,0,1,1,1.757,3.262,48.936,209.045
13622,19526,94,9471,0,1,22,1,1,1,1,1.757,3.262,48.936,209.045
13623,19527,94,9471,0,0,35,1,0,1,1,1.757,3.262,48.936,209.045
13624,19529,94,9471,0,0,27,1,0,1,1,1.757,3.262,48.936,209.045
13625,19530,94,9471,1,0,39,1,1,1,1,1.757,3.262,48.936,209.045

In [4]:
datatrain.describe()

,ID,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
count,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13626.000000,13621.000000
mean,9763.218406,44.562601,4477.179363,0.409511,0.610744,30.380229,0.487817,0.401805,0.813518,0.875899,1.227538,6.876482,35.597681,197.945368
std,5654.343886,26.377273,2633.993903,0.491762,0.487599,6.357110,0.499870,0.490281,0.389509,0.329709,1.059310,5.638141,33.103822,137.404420
min,1.000000,11.000000,1101.000000,0.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.369000,0.861000,20.183000
25%,4866.500000,18.000000,1804.000000,0.000000,0.000000,26.000000,0.000000,0.000000,1.000000,1.000000,0.564000,3.183000,16.744000,102.438000
50%,9773.500000,35.000000,3523.000000,0.000000,1.000000,30.000000,0.000000,0.000000,1.000000,1.000000,0.908000,4.965000,25.896000,163.192000
75%,14651.750000,71.000000,7171.000000,1.000000,1.000000,35.000000,1.000000,1.000000,1.000000,1.000000,1.473000,8.334000,39.854000,257.738000
max,19530.000000,94.000000,9471.000000,1.000000,1.000000,54.000000,1.000000,1.000000,1.000000,1.000000,6.960000,35.237000,291.322000,1400.875000

Checking datatype and null

In [5]:
datatrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13626 entries, 0 to 13625
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          13626 non-null  int64
 1   Provinsi    13626 non-null  int64
 2   KodeKabKot  13626 non-null  int64
 3   Y           13626 non-null  int64
 4   X1          13626 non-null  int64
 5   X2          13626 non-null  int64
 6   X3          13626 non-null  int64
 7   X4          13626 non-null  int64
 8   X5          13626 non-null  int64
 9   X6          13626 non-null  int64
 10  Z1          13626 non-null  float64
 11  Z2          13626 non-null  float64
 12  Z3          13626 non-null  float64
 13  Z4          13621 non-null  float64
dtypes: float64(4), int64(10)
memory usage: 1.5 MB

In [6]:
datatrainnull = datatrain[datatrain.isna().any(axis=1)]
print (datatrainnull)

          ID  Provinsi  KodeKabKot  Y  X1  X2  X3  X4  X5  X6     Z1     Z2  \
13571  19456        94        9434  0   1  26   0   1   0   0  0.861  7.745
13572  19457        94        9434  0   1  20   0   1   1   0  0.861  7.745
13573  19458        94        9434  0   1  22   0   1   0   0  0.861  7.745
13574  19463        94        9434  0   1  23   0   1   0   0  0.861  7.745
13575  19464        94        9434  0   1  24   1   1   0   0  0.861  7.745

          Z3  Z4
13571  0.861 NaN
13572  0.861 NaN
13573  0.861 NaN
13574  0.861 NaN
13575  0.861 NaN

In [7]:
datatrain[datatrain["KodeKabKot"] == 9434]

,ID,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
13571,19456,94,9434,0,1,26,0,1,0,0,0.861,7.745,0.861,NaN
13572,19457,94,9434,0,1,20,0,1,1,0,0.861,7.745,0.861,NaN
13573,19458,94,9434,0,1,22,0,1,0,0,0.861,7.745,0.861,NaN
13574,19463,94,9434,0,1,23,0,1,0,0,0.861,7.745,0.861,NaN
13575,19464,94,9434,0,1,24,1,1,0,0,0.861,7.745,0.861,NaN

In [8]:
datatrain = datatrain.fillna(224.555)

In [9]:
datatrain[datatrain["KodeKabKot"] == 9434]

,ID,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
13571,19456,94,9434,0,1,26,0,1,0,0,0.861,7.745,0.861,224.555
13572,19457,94,9434,0,1,20,0,1,1,0,0.861,7.745,0.861,224.555
13573,19458,94,9434,0,1,22,0,1,0,0,0.861,7.745,0.861,224.555
13574,19463,94,9434,0,1,23,0,1,0,0,0.861,7.745,0.861,224.555
13575,19464,94,9434,0,1,24,1,1,0,0,0.861,7.745,0.861,224.555

**Re-check null**

In [10]:
datatrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13626 entries, 0 to 13625
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          13626 non-null  int64
 1   Provinsi    13626 non-null  int64
 2   KodeKabKot  13626 non-null  int64
 3   Y           13626 non-null  int64
 4   X1          13626 non-null  int64
 5   X2          13626 non-null  int64
 6   X3          13626 non-null  int64
 7   X4          13626 non-null  int64
 8   X5          13626 non-null  int64
 9   X6          13626 non-null  int64
 10  Z1          13626 non-null  float64
 11  Z2          13626 non-null  float64
 12  Z3          13626 non-null  float64
 13  Z4          13626 non-null  float64
dtypes: float64(4), int64(10)
memory usage: 1.5 MB

## Data Test

In [11]:
datatest

,ID,Provinsi,KodeKabKot,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
0,3,11,1101,1,39,0,0,1,1,1.077,15.075,26.919,390.869
1,5,11,1101,0,32,1,0,1,1,1.077,15.075,26.919,390.869
2,6,11,1101,1,32,1,0,1,1,1.077,15.075,26.919,390.869
3,10,11,1101,1,28,1,0,1,0,1.077,15.075,26.919,390.869
4,17,11,1101,0,31,1,0,1,1,1.077,15.075,26.919,390.869
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5901,19515,94,9471,1,39,0,1,1,1,1.757,3.262,48.936,209.045
5902,19525,94,9471,0,30,1,1,1,1,1.757,3.262,48.936,209.045
5903,19528,94,9471,0,22,1,1,1,1,1.757,3.262,48.936,209.045
5904,19531,94,9471,0,40,1,1,1,1,1.757,3.262,48.936,209.045
5905,19532,94,9471,0,38,1,0,1,1,1.757,3.262,48.936,209.045

In [12]:
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5906 entries, 0 to 5905
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          5906 non-null   int64
 1   Provinsi    5906 non-null   int64
 2   KodeKabKot  5906 non-null   int64
 3   X1          5906 non-null   int64
 4   X2          5906 non-null   int64
 5   X3          5906 non-null   int64
 6   X4          5906 non-null   int64
 7   X5          5906 non-null   int64
 8   X6          5906 non-null   int64
 9   Z1          5906 non-null   float64
 10  Z2          5906 non-null   float64
 11  Z3          5906 non-null   float64
 12  Z4          5901 non-null   float64
dtypes: float64(4), int64(9)
memory usage: 600.0 KB

In [13]:
datatestnull = datatest[datatest.isna().any(axis=1)]
print (datatestnull)

         ID  Provinsi  KodeKabKot  X1  X2  X3  X4  X5  X6     Z1     Z2  \
5883  19455        94        9434   1  21   0   1   0   0  0.861  7.745
5884  19459        94        9434   1  27   0   1   0   0  0.861  7.745
5885  19460        94        9434   1  35   1   1   0   0  0.861  7.745
5886  19461        94        9434   1  21   0   1   0   0  0.861  7.745
5887  19462        94        9434   1  42   0   1   0   0  0.861  7.745

         Z3  Z4
5883  0.861 NaN
5884  0.861 NaN
5885  0.861 NaN
5886  0.861 NaN
5887  0.861 NaN

fill null

In [14]:
datatest = datatest.fillna(224.555)

In [15]:
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5906 entries, 0 to 5905
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          5906 non-null   int64
 1   Provinsi    5906 non-null   int64
 2   KodeKabKot  5906 non-null   int64
 3   X1          5906 non-null   int64
 4   X2          5906 non-null   int64
 5   X3          5906 non-null   int64
 6   X4          5906 non-null   int64
 7   X5          5906 non-null   int64
 8   X6          5906 non-null   int64
 9   Z1          5906 non-null   float64
 10  Z2          5906 non-null   float64
 11  Z3          5906 non-null   float64
 12  Z4          5906 non-null   float64
dtypes: float64(4), int64(9)
memory usage: 600.0 KB

## Cleaning

In [16]:
datatrain=datatrain.drop(columns="KodeKabKot")

In [71]:
datatest=datatest.drop(columns="KodeKabKot")

In [17]:
datatrain.head(10)

   ID  Provinsi  Y  X1  X2  X3  X4  X5  X6     Z1      Z2      Z3       Z4
0   1        11  0   1  27   0   0   1   1  1.077  15.075  26.919  390.869
1   2        11  0   1  38   0   0   1   0  1.077  15.075  26.919  390.869
2   4        11  0   0  36   0   0   0   1  1.077  15.075  26.919  390.869
3   7        11  0   0  27   0   0   1   1  1.077  15.075  26.919  390.869
4   8        11  0   1  36   1   0   0   0  1.077  15.075  26.919  390.869
5   9        11  1   1  20   0   1   1   0  1.077  15.075  26.919  390.869
6  11        11  0   1  27   0   1   1   1  1.077  15.075  26.919  390.869
7  12        11  0   0  36   1   0   1   1  1.077  15.075  26.919  390.869
8  13        11  0   0  33   1   0   1   1  1.077  15.075  26.919  390.869
9  14        11  0   1  23   1   0   1   1  1.077  15.075  26.919  390.869

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
#stdz = datatrain[['X2','Z1','Z2','Z3','Z4']]
#stdz

In [20]:
#scaler = StandardScaler()
#std_dataz = pd.DataFrame(scaler.fit_transform(stdz))

#std_dataz.columns = stdz.columns
#std_dataz

In [21]:
#datatrainstd = pd.concat([datatrain[["ID","Provinsi","Y","X1"]],std_dataz["X2"],datatrain[["X3","X4","X5","X6"]], std_dataz[["Z1","Z2","Z3",'Z4']]], axis=1)
#datatrainstd

### Dummies Prov

In [26]:
print("Provinsi  Jumlah")
datatrain["Provinsi"].value_counts(sort=False)

Provinsi  Jumlah

11    631
12    959
13    503
14    353
15    236
16    411
17    214
18    460
19    167
21    154
31    193
32    892
33    966
34     95
35    953
36    282
51    210
52    320
53    648
61    355
62    326
63    302
64    236
65    132
71    289
72    307
73    666
74    479
75    132
76    193
81    344
82    254
91    379
94    585
Name: Provinsi, dtype: int64

In [27]:
#prov = pd.get_dummies(datatrain["Provinsi"])
#datatrain = pd.concat([prov,datatrain.drop(columns="Provinsi")], axis=1)

In [29]:
#datatrain

# Define X and Y

### Kategorisasi Umur Ibu

In [25]:
datatrainyoung = datatrain[datatrain["X2"] < 30]
datatrainyoung

,ID,Provinsi,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
0,1,11,0,1,27,0,0,1,1,1.077,15.075,26.919,390.869
3,7,11,0,0,27,0,0,1,1,1.077,15.075,26.919,390.869
5,9,11,1,1,20,0,1,1,0,1.077,15.075,26.919,390.869
6,11,11,0,1,27,0,1,1,1,1.077,15.075,26.919,390.869
9,14,11,0,1,23,1,0,1,1,1.077,15.075,26.919,390.869
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13611,19512,94,0,0,27,1,0,1,1,1.757,3.262,48.936,209.045
13613,19516,94,1,0,27,1,0,1,1,1.757,3.262,48.936,209.045
13621,19524,94,1,0,28,1,0,1,1,1.757,3.262,48.936,209.045
13622,19526,94,0,1,22,1,1,1,1,1.757,3.262,48.936,209.045
13624,19529,94,0,0,27,1,0,1,1,1.757,3.262,48.936,209.045

In [73]:
datatestyoung = datatest[datatest["X2"] < 30]
datatestyoung

         ID  Provinsi  X1  X2  X3  X4  X5  X6     Z1      Z2      Z3       Z4
3        10        11   1  28   1   0   1   0  1.077  15.075  26.919  390.869
5        19        11   1  24   0   0   1   1  1.077  15.075  26.919  390.869
6        20        11   1  27   1   0   1   1  1.077  15.075  26.919  390.869
7        32        11   1  25   1   0   1   1  1.077  15.075  26.919  390.869
9        44        11   0  20   0   0   0   1  0.790   9.485  34.780  271.125
...     ...       ...  ..  ..  ..  ..  ..  ..    ...     ...     ...      ...
5893  19475        94   1  27   0   1   1   1  0.741   2.962   8.146   48.873
5896  19482        94   1  29   0   1   0   1  0.000   8.073   2.018   20.183
5898  19503        94   1  29   0   1   1   1  0.000   8.073   2.018   20.183
5900  19513        94   0  27   1   0   1   1  1.757   3.262  48.936  209.045
5903  19528        94   0  22   1   1   1   1  1.757   3.262  48.936  209.045

[2693 rows x 12 columns]

In [26]:
otherdatatrainyoung = datatrainyoung[['ID','Provinsi','X1','Z3','X4','X5','X6']]
otherdatatrainyoung

          ID  Provinsi  X1      Z3  X4  X5  X6
0          1        11   1  26.919   0   1   1
3          7        11   0  26.919   0   1   1
5          9        11   1  26.919   1   1   0
6         11        11   1  26.919   1   1   1
9         14        11   1  26.919   0   1   1
...      ...       ...  ..     ...  ..  ..  ..
13611  19512        94   0  48.936   0   1   1
13613  19516        94   0  48.936   0   1   1
13621  19524        94   0  48.936   0   1   1
13622  19526        94   1  48.936   1   1   1
13624  19529        94   0  48.936   0   1   1

[6344 rows x 7 columns]

In [27]:
stdzdatatrainyoung = datatrainyoung[['X2','Z1','Z2','Z3','Z4']]
stdzdatatrainyoung

       X2     Z1      Z2      Z3       Z4
0      27  1.077  15.075  26.919  390.869
3      27  1.077  15.075  26.919  390.869
5      20  1.077  15.075  26.919  390.869
6      27  1.077  15.075  26.919  390.869
9      23  1.077  15.075  26.919  390.869
...    ..    ...     ...     ...      ...
13611  27  1.757   3.262  48.936  209.045
13613  27  1.757   3.262  48.936  209.045
13621  28  1.757   3.262  48.936  209.045
13622  22  1.757   3.262  48.936  209.045
13624  27  1.757   3.262  48.936  209.045

[6344 rows x 5 columns]

In [28]:
scaler = StandardScaler()
std_datazyoung = pd.DataFrame(scaler.fit_transform(stdzdatatrainyoung))

std_datazyoung.columns = stdzdatatrainyoung.columns
std_datazyoung

            X2        Z1        Z2        Z3        Z4
0     0.706340 -0.128906  1.441767 -0.250564  1.390522
1     0.706340 -0.128906  1.441767 -0.250564  1.390522
2    -1.544136 -0.128906  1.441767 -0.250564  1.390522
3     0.706340 -0.128906  1.441767 -0.250564  1.390522
4    -0.579646 -0.128906  1.441767 -0.250564  1.390522
...        ...       ...       ...       ...       ...
6339  0.706340  0.516685 -0.647640  0.411891  0.081560
6340  0.706340  0.516685 -0.647640  0.411891  0.081560
6341  1.027836  0.516685 -0.647640  0.411891  0.081560
6342 -0.901143  0.516685 -0.647640  0.411891  0.081560
6343  0.706340  0.516685 -0.647640  0.411891  0.081560

[6344 rows x 5 columns]

In [29]:
#datatrainyoungstd = pd.concat([datatrainyoung[["ID","Provinsi","Y","X1"]],std_datazyoung["X2"].reindex(datatrainyoung.index),datatrainyoung[["X3","X4","X5","X6"]], std_datazyoung[["Z1","Z2","Z3",'Z4']].reindex(datatrainyoung.index)], axis=1)
datatrainyoungstd = pd.concat([otherdatatrainyoung,std_datazyoung],axis=1)
datatrainyoungstd

,ID,Provinsi,X1,Z3,X4,X5,X6,X2,Z1,Z2,Z3,Z4
0,1.0,11.0,1.0,26.919,0.0,1.0,1.0,0.706340,-0.128906,1.441767,-0.250564,1.390522
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.706340,-0.128906,1.441767,-0.250564,1.390522
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.544136,-0.128906,1.441767,-0.250564,1.390522
3,7.0,11.0,0.0,26.919,0.0,1.0,1.0,0.706340,-0.128906,1.441767,-0.250564,1.390522
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.579646,-0.128906,1.441767,-0.250564,1.390522
...,...,...,...,...,...,...,...,...,...,...,...,...
13611,19512.0,94.0,0.0,48.936,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
13613,19516.0,94.0,0.0,48.936,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
13621,19524.0,94.0,0.0,48.936,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
13622,19526.0,94.0,1.0,48.936,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
13624,19529.0,94.0,0.0,48.936,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN

In [30]:
datatrainold = datatrain[datatrain["X2"] > 29]
datatrainold

,ID,Provinsi,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
1,2,11,0,1,38,0,0,1,0,1.077,15.075,26.919,390.869
2,4,11,0,0,36,0,0,0,1,1.077,15.075,26.919,390.869
4,8,11,0,1,36,1,0,0,0,1.077,15.075,26.919,390.869
7,12,11,0,0,36,1,0,1,1,1.077,15.075,26.919,390.869
8,13,11,0,0,33,1,0,1,1,1.077,15.075,26.919,390.869
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13618,19521,94,1,0,39,1,1,1,0,1.757,3.262,48.936,209.045
13619,19522,94,0,0,39,1,0,0,1,1.757,3.262,48.936,209.045
13620,19523,94,0,0,31,0,0,1,1,1.757,3.262,48.936,209.045
13623,19527,94,0,0,35,1,0,1,1,1.757,3.262,48.936,209.045
13625,19530,94,1,0,39,1,1,1,1,1.757,3.262,48.936,209.045

In [74]:
datatestold = datatest[datatest["X2"] > 29]
datatestold

         ID  Provinsi  X1  X2  X3  X4  X5  X6     Z1      Z2      Z3       Z4
0         3        11   1  39   0   0   1   1  1.077  15.075  26.919  390.869
1         5        11   0  32   1   0   1   1  1.077  15.075  26.919  390.869
2         6        11   1  32   1   0   1   1  1.077  15.075  26.919  390.869
4        17        11   0  31   1   0   1   1  1.077  15.075  26.919  390.869
8        42        11   1  34   0   1   1   1  0.790   9.485  34.780  271.125
...     ...       ...  ..  ..  ..  ..  ..  ..    ...     ...     ...      ...
5899  19510        94   0  37   1   1   1   1  1.757   3.262  48.936  209.045
5901  19515        94   1  39   0   1   1   1  1.757   3.262  48.936  209.045
5902  19525        94   0  30   1   1   1   1  1.757   3.262  48.936  209.045
5904  19531        94   0  40   1   1   1   1  1.757   3.262  48.936  209.045
5905  19532        94   0  38   1   0   1   1  1.757   3.262  48.936  209.045

[3213 rows x 12 columns]

In [31]:
stdzdatatrainold = datatrainold[['X2','Z1','Z2','Z3','Z4']]
stdzdatatrainold

       X2     Z1      Z2      Z3       Z4
1      38  1.077  15.075  26.919  390.869
2      36  1.077  15.075  26.919  390.869
4      36  1.077  15.075  26.919  390.869
7      36  1.077  15.075  26.919  390.869
8      33  1.077  15.075  26.919  390.869
...    ..    ...     ...     ...      ...
13618  39  1.757   3.262  48.936  209.045
13619  39  1.757   3.262  48.936  209.045
13620  31  1.757   3.262  48.936  209.045
13623  35  1.757   3.262  48.936  209.045
13625  39  1.757   3.262  48.936  209.045

[7282 rows x 5 columns]

In [32]:
scaler = StandardScaler()
std_datazold = pd.DataFrame(scaler.fit_transform(stdzdatatrainold))

std_datazold.columns = stdzdatatrainold.columns
std_datazold

            X2        Z1        Z2        Z3        Z4
0     0.680139 -0.153529  1.465127 -0.272395  1.416678
1     0.187448 -0.153529  1.465127 -0.272395  1.416678
2     0.187448 -0.153529  1.465127 -0.272395  1.416678
3     0.187448 -0.153529  1.465127 -0.272395  1.416678
4    -0.551587 -0.153529  1.465127 -0.272395  1.416678
...        ...       ...       ...       ...       ...
7277  0.926484  0.485401 -0.635413  0.395122  0.079994
7278  0.926484  0.485401 -0.635413  0.395122  0.079994
7279 -1.044278  0.485401 -0.635413  0.395122  0.079994
7280 -0.058897  0.485401 -0.635413  0.395122  0.079994
7281  0.926484  0.485401 -0.635413  0.395122  0.079994

[7282 rows x 5 columns]

In [56]:
datatrainoldstd = pd.concat([datatrainold[["ID","Provinsi","Y","X1"]],std_datazold["X2"].reindex(datatrainold.index),datatrainold[["X3","X4","X5","X6"]], std_datazold[["Z1","Z2","Z3",'Z4']].reindex(datatrainold.index)], axis=1)
datatrainoldstd

,ID,Provinsi,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
1,2,11,0,1,0.187448,0,0,1,0,-0.153529,1.465127,-0.272395,1.416678
2,4,11,0,0,0.187448,0,0,0,1,-0.153529,1.465127,-0.272395,1.416678
4,8,11,0,1,-0.551587,1,0,0,0,-0.153529,1.465127,-0.272395,1.416678
7,12,11,0,0,0.187448,1,0,1,1,-0.153529,1.465127,-0.272395,1.416678
8,13,11,0,0,0.187448,1,0,1,1,-0.153529,1.465127,-0.272395,1.416678
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13618,19521,94,1,0,NaN,1,1,1,0,NaN,NaN,NaN,NaN
13619,19522,94,0,0,NaN,1,0,0,1,NaN,NaN,NaN,NaN
13620,19523,94,0,0,NaN,0,0,1,1,NaN,NaN,NaN,NaN
13623,19527,94,0,0,NaN,1,0,1,1,NaN,NaN,NaN,NaN
13625,19530,94,1,0,NaN,1,1,1,1,NaN,NaN,NaN,NaN

In [ ]:
#datatrainx = datatrain.drop(columns='Y')
#datatrainy = datatrain['Y']

In [ ]:
#datatrainyoungx = datatrainyoung.drop(columns='Y')
#datatrainyoungy = datatrainyoung['Y']
#datatrainyoungy

In [ ]:
#datatrainoldx = datatrainold.drop(columns='Y')
#datatrainoldy = datatrainold['Y']

### Kategorisasi pendidikan ibu

#### Std

In [82]:
# < 30 tahun & di atas SMP
datatrainyoungstdas = datatrainyoungstd[datatrainyoungstd["X3"] == 1]
datatrainyoungstdas = datatrainyoungstdas.drop(columns="X3")
datatrainyoungstdas

          ID  Provinsi  Y  X1  X2  X4  X5  X6     Z1      Z2      Z3       Z4
9         14        11  0   1  23   0   1   1  1.077  15.075  26.919  390.869
11        16        11  0   1  21   0   1   1  1.077  15.075  26.919  390.869
12        18        11  0   0  26   0   1   1  1.077  15.075  26.919  390.869
17        25        11  0   1  25   0   1   1  1.077  15.075  26.919  390.869
23        31        11  1   1  29   1   1   1  1.077  15.075  26.919  390.869
...      ...       ... ..  ..  ..  ..  ..  ..    ...     ...     ...      ...
13611  19512        94  0   0  27   0   1   1  1.757   3.262  48.936  209.045
13613  19516        94  1   0  27   0   1   1  1.757   3.262  48.936  209.045
13621  19524        94  1   0  28   0   1   1  1.757   3.262  48.936  209.045
13622  19526        94  0   1  22   1   1   1  1.757   3.262  48.936  209.045
13624  19529        94  0   0  27   0   1   1  1.757   3.262  48.936  209.045

[3147 rows x 12 columns]

In [59]:
# > 29 tahun & di atas SMP
datatrainoldstdas = datatrainoldstd[datatrainoldstd["X3"] == 1]
datatrainoldstdas = datatrainoldstd.drop(columns="X3")
datatrainoldstdas

,ID,Provinsi,Y,X1,X2,X4,X5,X6,Z1,Z2,Z3,Z4
1,2,11,0,1,0.187448,0,1,0,-0.153529,1.465127,-0.272395,1.416678
2,4,11,0,0,0.187448,0,0,1,-0.153529,1.465127,-0.272395,1.416678
4,8,11,0,1,-0.551587,0,0,0,-0.153529,1.465127,-0.272395,1.416678
7,12,11,0,0,0.187448,0,1,1,-0.153529,1.465127,-0.272395,1.416678
8,13,11,0,0,0.187448,0,1,1,-0.153529,1.465127,-0.272395,1.416678
...,...,...,...,...,...,...,...,...,...,...,...,...
13618,19521,94,1,0,NaN,1,1,0,NaN,NaN,NaN,NaN
13619,19522,94,0,0,NaN,0,0,1,NaN,NaN,NaN,NaN
13620,19523,94,0,0,NaN,0,1,1,NaN,NaN,NaN,NaN
13623,19527,94,0,0,NaN,0,1,1,NaN,NaN,NaN,NaN
13625,19530,94,1,0,NaN,1,1,1,NaN,NaN,NaN,NaN

In [ ]:
# < 30 tahun & di bawah SMP
datatrainoldstdbs = datatrain[datatrain["X3"] == 0]
datatrainoldstdbs = datatrainbawahsmp.drop(columns="X3")
datatrainoldstdbs

In [ ]:
# > 29 tahun & di bawah SMP
datatrainbawahsmp = datatrain[datatrain["X3"] == 0]
datatrainbawahsmp = datatrainbawahsmp.drop(columns="X3")
datatrainbawahsmp

In [ ]:
datatrainatassmpx = datatrainatassmp.drop(columns='Y')
datatrainatassmpy = datatrainatassmp['Y']

In [ ]:
datatrainatassmpx = datatrainatassmp.drop(columns='Y')
datatrainatassmpy = datatrainatassmp['Y']

In [ ]:
datatrainbawahsmpx = datatrainbawahsmp.drop(columns='Y')
datatrainbawahsmpy = datatrainbawahsmp['Y']

In [ ]:
datatrainbawahsmpx = datatrainbawahsmp.drop(columns='Y')
datatrainbawahsmpy = datatrainbawahsmp['Y']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_trainas, X_testas, y_trainas, y_testas = train_test_split(datatrainatassmpx, datatrainatassmpy, test_size=0.30, random_state=0)

In [ ]:
X_trainas, X_testas, y_trainas, y_testas = train_test_split(datatrainatassmpx, datatrainatassmpy, test_size=0.30, random_state=0)

In [ ]:
abcatassmp = AdaBoostClassifier()
abcatassmp.fit(X_trainas, y_trainas)
y_predas = abcatassmp.predict(X_testas)
accuracy_score(y_testas, y_predas)

In [ ]:
abcatassmp = AdaBoostClassifier()
abcatassmp.fit(X_trainas, y_trainas)
y_predas = abcatassmp.predict(X_testas)
accuracy_score(y_testas, y_predas)

In [ ]:
from sklearn.metrics import classification_report,accuracy_score
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
print(classification_report(y_testas, y_predas))

In [ ]:
from sklearn.metrics import classification_report,accuracy_score
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
print(classification_report(y_testas, y_predas))

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import GridSearchCV

model = AdaBoostClassifier(random_state=100)
params = {
    'n_estimators':(50,100),
    'learning_rate':[0.5, 1]
}
gs = GridSearchCV(model, params)
gs.fit(X_trainas, y_trainas)
y_predas = gs.predict(X_testas)
print('Best parameter: ', gs.best_params_)

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import GridSearchCV

model = AdaBoostClassifier(random_state=100)
params = {
    'n_estimators':(50,100),
    'learning_rate':[0.5, 1]
}
gs = GridSearchCV(model, params)
gs.fit(X_trainas, y_trainas)
y_predas = gs.predict(X_testas)
print('Best parameter: ', gs.best_params_)

In [ ]:
abcas = AdaBoostClassifier(learning_rate=1, n_estimators=100)
abcas.fit(X_trainas, y_trainas)
y_predas = abcas.predict(X_testas)
accuracy_score(y_testas, y_predas)

In [ ]:
abcas = AdaBoostClassifier(learning_rate=1, n_estimators=100)
abcas.fit(X_trainas, y_trainas)
y_predas = abcas.predict(X_testas)
accuracy_score(y_testas, y_predas)

In [ ]:
print(classification_report(y_testas, y_predas))

In [ ]:
print(classification_report(y_testas, y_predas))

In [ ]:
gbcas = GradientBoostingClassifier()
gbcas.fit(X_trainas, y_trainas)
y_predas = gbcas.predict(X_testas)
accuracy_score(y_testas, y_predas)

In [ ]:
gbcas = GradientBoostingClassifier()
gbcas.fit(X_trainas, y_trainas)
y_predas = gbcas.predict(X_testas)
accuracy_score(y_testas, y_predas)

In [ ]:
print(classification_report(y_testas, y_predas))

In [ ]:
print(classification_report(y_testas, y_predas))

In [ ]:
model = GradientBoostingClassifier(random_state=100)
params = {
        'n_estimators':range(1,50),
        'learning_rate':[0.001, 0.01, 0.1, 0.2, 0.5, 1]
}
gsas = GridSearchCV(model, params)
gsas.fit(X_trainas, y_trainas)
print('Best parameter: ', gs.best_params_)

In [ ]:
model = GradientBoostingClassifier(random_state=100)
params = {
        'n_estimators':range(1,50),
        'learning_rate':[0.001, 0.01, 0.1, 0.2, 0.5, 1]
}
gsas = GridSearchCV(model, params)
gsas.fit(X_trainas, y_trainas)
print('Best parameter: ', gs.best_params_)

In [ ]:
gbcas = GradientBoostingClassifier(learning_rate=0.55, n_estimators=50)
gbcas.fit(X_trainas, y_trainas)
y_predas = gbcas.predict(X_testas)
accuracy_score(y_testas, y_predas)

In [ ]:
gbcas = GradientBoostingClassifier(learning_rate=0.55, n_estimators=50)
gbcas.fit(X_trainas, y_trainas)
y_predas = gbcas.predict(X_testas)
accuracy_score(y_testas, y_predas)

In [ ]:
print(classification_report(y_testas, y_predas))

In [ ]:
print(classification_report(y_testas, y_predas))

In [ ]:
X_trainbs, X_testbs, y_trainbs, y_testbs = train_test_split(datatrainbawahsmpx, datatrainbawahsmpy, test_size=0.30, random_state=0)

In [ ]:
X_trainbs, X_testbs, y_trainbs, y_testbs = train_test_split(datatrainbawahsmpx, datatrainbawahsmpy, test_size=0.30, random_state=0)

In [ ]:
abcbssmp = AdaBoostClassifier()
abcbssmp.fit(X_trainbs, y_trainbs)
y_predbs = abcbssmp.predict(X_testbs)
accuracy_score(y_testbs, y_predbs)

In [ ]:
abcbssmp = AdaBoostClassifier()
abcbssmp.fit(X_trainbs, y_trainbs)
y_predbs = abcbssmp.predict(X_testbs)
accuracy_score(y_testbs, y_predbs)

In [ ]:
print(classification_report(y_testbs, y_predbs))

In [ ]:
print(classification_report(y_testbs, y_predbs))

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import GridSearchCV

model = AdaBoostClassifier(random_state=100)
params = {
    'n_estimators':(50,100),
    'learning_rate':[0.5, 1]
}
gsbs = GridSearchCV(model, params)
gsbs.fit(X_trainbs, y_trainbs)
y_predbs = gsbs.predict(X_testbs)
print('Best parameter: ', gsbs.best_params_)

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import GridSearchCV

model = AdaBoostClassifier(random_state=100)
params = {
    'n_estimators':(50,100),
    'learning_rate':[0.5, 1]
}
gsbs = GridSearchCV(model, params)
gsbs.fit(X_trainbs, y_trainbs)
y_predbs = gsbs.predict(X_testbs)
print('Best parameter: ', gsbs.best_params_)

In [ ]:
abcbs = AdaBoostClassifier(learning_rate=0.5, n_estimators=100)
abcbs.fit(X_trainbs, y_trainbs)
y_predbs = abcbs.predict(X_testbs)
accuracy_score(y_testbs, y_predbs)

In [ ]:
abcbs = AdaBoostClassifier(learning_rate=0.5, n_estimators=100)
abcbs.fit(X_trainbs, y_trainbs)
y_predbs = abcbs.predict(X_testbs)
accuracy_score(y_testbs, y_predbs)

In [ ]:
print(classification_report(y_testbs, y_predbs))

In [ ]:
print(classification_report(y_testbs, y_predbs))

In [ ]:
gbcbs = GradientBoostingClassifier()
gbcbs.fit(X_trainbs, y_trainbs)
y_predbs = gbcbs.predict(X_testbs)
accuracy_score(y_testbs, y_predbs)

In [ ]:
gbcbs = GradientBoostingClassifier()
gbcbs.fit(X_trainbs, y_trainbs)
y_predbs = gbcbs.predict(X_testbs)
accuracy_score(y_testbs, y_predbs)

In [ ]:
print(classification_report(y_testbs, y_predbs))

In [ ]:
print(classification_report(y_testbs, y_predbs))

In [ ]:
model = GradientBoostingClassifier(random_state=100)
params = {
        'n_estimators':range(1,50),
        'learning_rate':[0.001, 0.01, 0.1, 0.2, 0.5, 1]
}
gsbs = GridSearchCV(model, params)
gsbs.fit(X_trainbs, y_trainbs)

In [ ]:
model = GradientBoostingClassifier(random_state=100)
params = {
        'n_estimators':range(1,50),
        'learning_rate':[0.001, 0.01, 0.1, 0.2, 0.5, 1]
}
gsbs = GridSearchCV(model, params)
gsbs.fit(X_trainbs, y_trainbs)

In [ ]:
print('Best parameter: ', gsbs.best_params_)

In [ ]:
print('Best parameter: ', gsbs.best_params_)

In [ ]:
gbcbs = GradientBoostingClassifier(learning_rate=0.5, n_estimators=15)
gbcbs.fit(X_trainbs, y_trainbs)
y_predas = gbcbs.predict(X_testbs)
accuracy_score(y_testbs, y_predbs)

In [ ]:
gbcbs = GradientBoostingClassifier(learning_rate=0.5, n_estimators=15)
gbcbs.fit(X_trainbs, y_trainbs)
y_predas = gbcbs.predict(X_testbs)
accuracy_score(y_testbs, y_predbs)

In [ ]:
print(classification_report(y_testbs, y_predbs))

In [ ]:
print(classification_report(y_testbs, y_predbs))

#### All Data

In [33]:
datatrainyoungas = datatrainyoung[datatrainyoung["X3"] == 1]
datatrainyoungas = datatrainyoungas.drop(columns="X3")
datatrainyoungas

          ID  Provinsi  Y  X1  X2  X4  X5  X6     Z1      Z2      Z3       Z4
9         14        11  0   1  23   0   1   1  1.077  15.075  26.919  390.869
11        16        11  0   1  21   0   1   1  1.077  15.075  26.919  390.869
12        18        11  0   0  26   0   1   1  1.077  15.075  26.919  390.869
17        25        11  0   1  25   0   1   1  1.077  15.075  26.919  390.869
23        31        11  1   1  29   1   1   1  1.077  15.075  26.919  390.869
...      ...       ... ..  ..  ..  ..  ..  ..    ...     ...     ...      ...
13611  19512        94  0   0  27   0   1   1  1.757   3.262  48.936  209.045
13613  19516        94  1   0  27   0   1   1  1.757   3.262  48.936  209.045
13621  19524        94  1   0  28   0   1   1  1.757   3.262  48.936  209.045
13622  19526        94  0   1  22   1   1   1  1.757   3.262  48.936  209.045
13624  19529        94  0   0  27   0   1   1  1.757   3.262  48.936  209.045

[3147 rows x 12 columns]

In [75]:
datatestyoungas = datatestyoung[datatestyoung["X3"] == 1]
datatestyoungas = datatestyoungas.drop(columns="X3")
datatestyoungas

         ID  Provinsi  X1  X2  X4  X5  X6     Z1      Z2      Z3       Z4
3        10        11   1  28   0   1   0  1.077  15.075  26.919  390.869
6        20        11   1  27   0   1   1  1.077  15.075  26.919  390.869
7        32        11   1  25   0   1   1  1.077  15.075  26.919  390.869
14       52        11   1  21   1   1   1  0.790   9.485  34.780  271.125
18       62        11   1  22   0   0   1  0.790   9.485  34.780  271.125
...     ...       ...  ..  ..  ..  ..  ..    ...     ...     ...      ...
5845  19318        94   1  28   0   1   1  0.000  20.623  11.784  212.120
5855  19356        94   1  24   1   1   1  4.435  22.176  57.657  527.786
5882  19453        94   1  25   1   1   1  0.000   8.715   9.587   64.493
5900  19513        94   0  27   0   1   1  1.757   3.262  48.936  209.045
5903  19528        94   0  22   1   1   1  1.757   3.262  48.936  209.045

[1370 rows x 11 columns]

In [34]:
datatrainyoungbs = datatrainyoung[datatrainyoung["X3"] == 0]
datatrainyoungbs = datatrainyoungbs.drop(columns="X3")
datatrainyoungbs

          ID  Provinsi  Y  X1  X2  X4  X5  X6     Z1      Z2      Z3       Z4
0          1        11  0   1  27   0   1   1  1.077  15.075  26.919  390.869
3          7        11  0   0  27   0   1   1  1.077  15.075  26.919  390.869
5          9        11  1   1  20   1   1   0  1.077  15.075  26.919  390.869
6         11        11  0   1  27   1   1   1  1.077  15.075  26.919  390.869
13        21        11  0   1  19   0   1   1  1.077  15.075  26.919  390.869
...      ...       ... ..  ..  ..  ..  ..  ..    ...     ...     ...      ...
13587  19485        94  0   1  29   1   0   0  0.000   8.073   2.018   20.183
13594  19493        94  0   1  25   1   0   0  0.000   8.073   2.018   20.183
13595  19494        94  0   1  20   1   1   0  0.000   8.073   2.018   20.183
13601  19500        94  0   1  29   1   1   1  0.000   8.073   2.018   20.183
13609  19509        94  0   1  29   1   1   1  0.000   8.073   2.018   20.183

[3197 rows x 12 columns]

In [76]:
datatestyoungbs = datatestyoung[datatestyoung["X3"] == 0]
datatestyoungbs = datatestyoungbs.drop(columns="X3")
datatestyoungbs

         ID  Provinsi  X1  X2  X4  X5  X6     Z1      Z2      Z3       Z4
5        19        11   1  24   0   1   1  1.077  15.075  26.919  390.869
9        44        11   0  20   0   0   1  0.790   9.485  34.780  271.125
19       63        11   1  28   0   1   1  0.790   9.485  34.780  271.125
20       72        11   1  23   0   0   1  0.790   9.485  34.780  271.125
22       76        11   0  25   0   0   1  0.790   9.485  34.780  271.125
...     ...       ...  ..  ..  ..  ..  ..    ...     ...     ...      ...
5890  19472        94   1  23   0   1   1  0.741   2.962   8.146   48.873
5891  19473        94   1  21   0   1   1  0.741   2.962   8.146   48.873
5893  19475        94   1  27   1   1   1  0.741   2.962   8.146   48.873
5896  19482        94   1  29   1   0   1  0.000   8.073   2.018   20.183
5898  19503        94   1  29   1   1   1  0.000   8.073   2.018   20.183

[1323 rows x 11 columns]

In [35]:
datatrainoldas = datatrainold[datatrainold["X3"] == 1]
datatrainoldas = datatrainoldas.drop(columns="X3")
datatrainoldas

          ID  Provinsi  Y  X1  X2  X4  X5  X6     Z1      Z2      Z3       Z4
4          8        11  0   1  36   0   0   0  1.077  15.075  26.919  390.869
7         12        11  0   0  36   0   1   1  1.077  15.075  26.919  390.869
8         13        11  0   0  33   0   1   1  1.077  15.075  26.919  390.869
10        15        11  0   1  32   0   1   0  1.077  15.075  26.919  390.869
14        22        11  0   1  41   0   1   1  1.077  15.075  26.919  390.869
...      ...       ... ..  ..  ..  ..  ..  ..    ...     ...     ...      ...
13617  19520        94  1   0  34   0   1   1  1.757   3.262  48.936  209.045
13618  19521        94  1   0  39   1   1   0  1.757   3.262  48.936  209.045
13619  19522        94  0   0  39   0   0   1  1.757   3.262  48.936  209.045
13623  19527        94  0   0  35   0   1   1  1.757   3.262  48.936  209.045
13625  19530        94  1   0  39   1   1   1  1.757   3.262  48.936  209.045

[3500 rows x 12 columns]

In [77]:
datatestoldas = datatestold[datatestold["X3"] == 1]
datatestoldas = datatestoldas.drop(columns="X3")
datatestoldas

         ID  Provinsi  X1  X2  X4  X5  X6     Z1      Z2      Z3       Z4
1         5        11   0  32   0   1   1  1.077  15.075  26.919  390.869
2         6        11   1  32   0   1   1  1.077  15.075  26.919  390.869
4        17        11   0  31   0   1   1  1.077  15.075  26.919  390.869
10       45        11   1  32   0   1   1  0.790   9.485  34.780  271.125
11       46        11   1  37   1   1   1  0.790   9.485  34.780  271.125
...     ...       ...  ..  ..  ..  ..  ..    ...     ...     ...      ...
5895  19477        94   1  31   1   0   0  0.000   8.073   2.018   20.183
5899  19510        94   0  37   1   1   1  1.757   3.262  48.936  209.045
5902  19525        94   0  30   1   1   1  1.757   3.262  48.936  209.045
5904  19531        94   0  40   1   1   1  1.757   3.262  48.936  209.045
5905  19532        94   0  38   0   1   1  1.757   3.262  48.936  209.045

[1569 rows x 11 columns]

In [36]:
datatrainoldbs = datatrainold[datatrainold["X3"] == 0]
datatrainoldbs = datatrainoldbs.drop(columns="X3")
datatrainoldbs

          ID  Provinsi  Y  X1  X2  X4  X5  X6     Z1      Z2      Z3       Z4
1          2        11  0   1  38   0   1   0  1.077  15.075  26.919  390.869
2          4        11  0   0  36   0   0   1  1.077  15.075  26.919  390.869
15        23        11  1   1  36   0   1   0  1.077  15.075  26.919  390.869
16        24        11  0   1  36   0   1   1  1.077  15.075  26.919  390.869
19        27        11  1   1  34   0   1   0  1.077  15.075  26.919  390.869
...      ...       ... ..  ..  ..  ..  ..  ..    ...     ...     ...      ...
13600  19499        94  0   1  30   1   1   0  0.000   8.073   2.018   20.183
13602  19501        94  0   1  31   1   0   1  0.000   8.073   2.018   20.183
13603  19502        94  0   1  39   1   1   1  0.000   8.073   2.018   20.183
13604  19504        94  0   1  42   1   1   1  0.000   8.073   2.018   20.183
13620  19523        94  0   0  31   0   1   1  1.757   3.262  48.936  209.045

[3782 rows x 12 columns]

In [78]:
datatestoldbs = datatestold[datatestold["X3"] == 0]
datatestoldbs = datatestoldbs.drop(columns="X3")
datatestoldbs

         ID  Provinsi  X1  X2  X4  X5  X6     Z1      Z2      Z3       Z4
0         3        11   1  39   0   1   1  1.077  15.075  26.919  390.869
8        42        11   1  34   1   1   1  0.790   9.485  34.780  271.125
12       48        11   1  30   0   1   1  0.790   9.485  34.780  271.125
13       51        11   1  36   0   1   1  0.790   9.485  34.780  271.125
16       55        11   0  40   1   1   1  0.790   9.485  34.780  271.125
...     ...       ...  ..  ..  ..  ..  ..    ...     ...     ...      ...
5878  19445        94   1  32   1   0   1  0.000   8.826   9.807   72.568
5887  19462        94   1  42   1   0   0  0.861   7.745   0.861  224.555
5894  19476        94   1  37   0   1   1  0.741   2.962   8.146   48.873
5897  19488        94   1  34   1   0   0  0.000   8.073   2.018   20.183
5901  19515        94   1  39   1   1   1  1.757   3.262  48.936  209.045

[1644 rows x 11 columns]

In [37]:
datatrainyoungasx = datatrainyoungas.drop(columns='Y')
datatrainyoungasy = datatrainyoungas['Y']
datatrainyoungbsx = datatrainyoungbs.drop(columns='Y')
datatrainyoungbsy = datatrainyoungbs['Y']
datatrainoldasx = datatrainoldas.drop(columns='Y')
datatrainoldasy = datatrainoldas['Y']
datatrainoldbsx = datatrainoldbs.drop(columns='Y')
datatrainoldbsy = datatrainoldbs['Y']

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X_trainyoungas, X_testyoungas, y_trainyoungas, y_testyoungas = train_test_split(datatrainyoungasx, datatrainyoungasy, test_size=0.30, random_state=0)

In [40]:
abcyoungas = AdaBoostClassifier()
abcyoungas.fit(X_trainyoungas, y_trainyoungas)
y_predyoungas = abcyoungas.predict(X_testyoungas)
accuracy_score(y_testyoungas, y_predyoungas)

0.617989417989418

In [41]:
from sklearn.metrics import classification_report,accuracy_score
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
print(classification_report(y_testyoungas, y_predyoungas))

              precision    recall  f1-score   support

           0       0.66      0.69      0.68       546
           1       0.55      0.52      0.54       399

    accuracy                           0.62       945
   macro avg       0.61      0.61      0.61       945
weighted avg       0.62      0.62      0.62       945

In [44]:
gbcyoungas = GradientBoostingClassifier()
gbcyoungas.fit(X_trainyoungas, y_trainyoungas)
y_predyoungas = gbcyoungas.predict(X_testyoungas)
accuracy_score(y_testyoungas, y_predyoungas)

0.6232804232804233

In [45]:
print(classification_report(y_testyoungas, y_predyoungas))

              precision    recall  f1-score   support

           0       0.67      0.68      0.67       546
           1       0.55      0.55      0.55       399

    accuracy                           0.62       945
   macro avg       0.61      0.61      0.61       945
weighted avg       0.62      0.62      0.62       945

In [48]:
X_trainyoungbs, X_testyoungbs, y_trainyoungbs, y_testyoungbs = train_test_split(datatrainyoungbsx, datatrainyoungbsy, test_size=0.30, random_state=0)

In [50]:
abcyoungbs = AdaBoostClassifier()
abcyoungbs.fit(X_trainyoungbs, y_trainyoungbs)
y_predyoungbs = abcyoungbs.predict(X_testyoungbs)
accuracy_score(y_testyoungbs, y_predyoungbs)

0.634375

In [51]:
print(classification_report(y_testyoungbs, y_predyoungbs))

              precision    recall  f1-score   support

           0       0.70      0.72      0.71       599
           1       0.51      0.49      0.50       361

    accuracy                           0.63       960
   macro avg       0.61      0.61      0.61       960
weighted avg       0.63      0.63      0.63       960

In [52]:
gbcyoungbs = GradientBoostingClassifier()
gbcyoungbs.fit(X_trainyoungbs, y_trainyoungbs)
y_predyoungbs = gbcyoungbs.predict(X_testyoungbs)
accuracy_score(y_testyoungbs, y_predyoungbs)

0.6479166666666667

In [53]:
print(classification_report(y_testyoungbs, y_predyoungbs))

              precision    recall  f1-score   support

           0       0.70      0.75      0.73       599
           1       0.54      0.47      0.50       361

    accuracy                           0.65       960
   macro avg       0.62      0.61      0.61       960
weighted avg       0.64      0.65      0.64       960

In [55]:
gbcyoungbs = GradientBoostingClassifier(learning_rate=0.5, n_estimators=15)
gbcyoungbs.fit(X_trainyoungbs, y_trainyoungbs)
y_predyoungbs = gbcyoungbs.predict(X_testyoungbs)
accuracy_score(y_testyoungbs, y_predyoungbs)

0.6333333333333333

In [56]:
print(classification_report(y_testyoungbs, y_predyoungbs))

              precision    recall  f1-score   support

           0       0.69      0.74      0.72       599
           1       0.51      0.45      0.48       361

    accuracy                           0.63       960
   macro avg       0.60      0.60      0.60       960
weighted avg       0.62      0.63      0.63       960

In [59]:
X_trainoldas, X_testoldas, y_trainoldas, y_testoldas = train_test_split(datatrainoldasx, datatrainoldasy, test_size=0.30, random_state=0)

In [60]:
abcoldas = AdaBoostClassifier()
abcoldas.fit(X_trainoldas, y_trainoldas)
y_predoldas = abcoldas.predict(X_testoldas)
accuracy_score(y_testoldas, y_predoldas)

0.6019047619047619

In [61]:
from sklearn.metrics import classification_report,accuracy_score
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
print(classification_report(y_testoldas, y_predoldas))

              precision    recall  f1-score   support

           0       0.63      0.71      0.67       594
           1       0.55      0.46      0.50       456

    accuracy                           0.60      1050
   macro avg       0.59      0.58      0.58      1050
weighted avg       0.60      0.60      0.60      1050

In [62]:
gbcoldas = GradientBoostingClassifier()
gbcoldas.fit(X_trainoldas, y_trainoldas)
y_predoldas = gbcoldas.predict(X_testoldas)
accuracy_score(y_testoldas, y_predoldas)

0.6352380952380953

In [63]:
print(classification_report(y_testoldas, y_predoldas))

              precision    recall  f1-score   support

           0       0.65      0.75      0.70       594
           1       0.60      0.48      0.53       456

    accuracy                           0.64      1050
   macro avg       0.63      0.62      0.62      1050
weighted avg       0.63      0.64      0.63      1050

In [64]:
X_trainoldbs, X_testoldbs, y_trainoldbs, y_testoldbs = train_test_split(datatrainoldbsx, datatrainoldbsy, test_size=0.30, random_state=0)

In [65]:
abcoldbs = AdaBoostClassifier()
abcoldbs.fit(X_trainoldbs, y_trainoldbs)
y_predoldbs = abcoldbs.predict(X_testoldbs)
accuracy_score(y_testoldbs, y_predoldbs)

0.6634361233480176

In [66]:
print(classification_report(y_testoldbs, y_predoldbs))

              precision    recall  f1-score   support

           0       0.73      0.74      0.73       719
           1       0.54      0.54      0.54       416

    accuracy                           0.66      1135
   macro avg       0.64      0.64      0.64      1135
weighted avg       0.66      0.66      0.66      1135

In [67]:
gbcoldbs = GradientBoostingClassifier()
gbcoldbs.fit(X_trainoldbs, y_trainoldbs)
y_predoldbs = gbcoldbs.predict(X_testoldbs)
accuracy_score(y_testoldbs, y_predoldbs)

0.6748898678414097

In [68]:
print(classification_report(y_testoldbs, y_predoldbs))

              precision    recall  f1-score   support

           0       0.75      0.73      0.74       719
           1       0.55      0.57      0.56       416

    accuracy                           0.67      1135
   macro avg       0.65      0.65      0.65      1135
weighted avg       0.68      0.67      0.68      1135

In [69]:
gbcoldbs = GradientBoostingClassifier(learning_rate=0.5, n_estimators=15)
gbcoldbs.fit(X_trainoldbs, y_trainoldbs)
y_predoldbs = gbcoldbs.predict(X_testoldbs)
accuracy_score(y_testoldbs, y_predoldbs)

0.6766519823788546

In [70]:
print(classification_report(y_testoldbs, y_predoldbs))

              precision    recall  f1-score   support

           0       0.75      0.73      0.74       719
           1       0.56      0.59      0.57       416

    accuracy                           0.68      1135
   macro avg       0.65      0.66      0.66      1135
weighted avg       0.68      0.68      0.68      1135

In [95]:
youngas = gbcyoungas.predict(datatestyoungas)
youngbs = gbcyoungbs.predict(datatestyoungbs)
oldas = gbcoldas.predict(datatestoldas)
oldbs = gbcoldbs.predict(datatestoldbs)

In [96]:
youngas = pd.DataFrame(youngas,columns=["Y"])
youngas = pd.concat([datatestyoungas["ID"].reset_index(),youngas], axis=1)
youngas = youngas.drop(columns="index",axis=1)

In [97]:
youngas

         ID  Y
0        10  0
1        20  0
2        32  1
3        52  0
4        62  0
...     ... ..
1365  19318  0
1366  19356  0
1367  19453  0
1368  19513  0
1369  19528  0

[1370 rows x 2 columns]

In [98]:
youngbs = pd.DataFrame(youngbs,columns=["Y"])
youngbs = pd.concat([datatestyoungbs["ID"].reset_index(),youngbs], axis=1)
youngbs = youngbs.drop(columns="index",axis=1)
youngbs

         ID  Y
0        19  0
1        44  0
2        63  0
3        72  0
4        76  0
...     ... ..
1318  19472  0
1319  19473  0
1320  19475  0
1321  19482  0
1322  19503  0

[1323 rows x 2 columns]

In [99]:
oldas = pd.DataFrame(oldas,columns=["Y"])
oldas = pd.concat([datatestoldas["ID"].reset_index(),oldas], axis=1)
oldas = oldas.drop(columns="index",axis=1)
oldas

         ID  Y
0         5  0
1         6  0
2        17  0
3        45  0
4        46  0
...     ... ..
1564  19477  0
1565  19510  0
1566  19525  0
1567  19531  1
1568  19532  0

[1569 rows x 2 columns]

In [100]:
oldbs = pd.DataFrame(oldbs,columns=["Y"])
oldbs = pd.concat([datatestoldbs["ID"].reset_index(),oldbs], axis=1)
oldbs = oldbs.drop(columns="index",axis=1)
oldbs

         ID  Y
0         3  0
1        42  0
2        48  0
3        51  0
4        55  0
...     ... ..
1639  19445  0
1640  19462  0
1641  19476  0
1642  19488  0
1643  19515  0

[1644 rows x 2 columns]

In [101]:
hasil = pd.concat([youngas,youngbs,oldas,oldbs])

In [103]:
hasil = hasil.sort_values(by=["ID"])
hasil

         ID  Y
0         3  0
0         5  0
1         6  0
0        10  0
2        17  0
...     ... ..
1643  19515  0
1566  19525  0
1369  19528  0
1567  19531  1
1568  19532  0

[5906 rows x 2 columns]

In [104]:
hasil.to_csv("4DF.csv",index=False)

# Split Train and Test Data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
#X_train, X_test, y_train, y_test = train_test_split(datatrainx, datatrainy, test_size=0.30, random_state=0)

In [ ]:
X_trainyoung, X_testyoung, y_trainyoung, y_testyoung = train_test_split(datatrainyoungx, datatrainyoungy, test_size=0.30, random_state=0)

In [ ]:
X_trainold, X_testold, y_trainold, y_testold = train_test_split(datatrainoldx, datatrainoldy, test_size=0.30, random_state=0)

In [ ]:
X_trainyoung.shape

In [ ]:
X_testyoung.shape

In [ ]:
y_trainyoung.shape

In [ ]:
y_testyoung.shape

# Modeling

AdaBoost Classifier default parameters

In [ ]:
abc = AdaBoostClassifier()
#abc.fit(X_train, y_train)
#y_pred = abc.predict(X_test)
#accuracy_score(y_test, y_pred)

In [ ]:
abc.fit(X_trainyoung, y_trainyoung)
y_predyoung = abc.predict(X_testyoung)
accuracy_score(y_testyoung, y_predyoung)

In [ ]:
abc.fit(X_trainold, y_trainold)
y_predold = abc.predict(X_testold)
accuracy_score(y_testold, y_predold)

In [ ]:
from sklearn.metrics import classification_report,accuracy_score
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
#print(classification_report(y_test, y_pred))

In [ ]:
print(classification_report(y_testyoung, y_predyoung))

In [ ]:
print(classification_report(y_testold, y_predold))

Parameters tuning with gridsearchcv

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import GridSearchCV

model = AdaBoostClassifier(random_state=100)
params = {
    'n_estimators':(50,100),
    'learning_rate':[0.5, 1]
}
gs = GridSearchCV(model, params)
# gs.fit(X_train, y_train)
# y_pred = gs.predict(X_test)
# print('Best parameter: ', gs.best_params_)

In [ ]:
gs.fit(X_trainyoung, y_trainyoung)
y_predyoung = gs.predict(X_testyoung)
print('Best parameter: ', gs.best_params_)

In [ ]:
gs.fit(X_trainold, y_trainold)
y_predold = gs.predict(X_testold)
print('Best parameter: ', gs.best_params_)

AdaBoost Classifier with best parameter

In [ ]:
#abc = AdaBoostClassifier(learning_rate=1, n_estimators=100)
#abc.fit(X_train, y_train)
#y_pred = abc.predict(X_test)
#accuracy_score(y_test, y_pred)

In [ ]:
abcyoung = AdaBoostClassifier(learning_rate=0.5, n_estimators=100)
abcyoung.fit(X_trainyoung, y_trainyoung)
y_predyoung = abcyoung.predict(X_testyoung)
accuracy_score(y_testyoung, y_predyoung)

In [ ]:
abcold = AdaBoostClassifier(learning_rate=0.5, n_estimators=50)
abcold.fit(X_trainold, y_trainold)
y_predold = abcold.predict(X_testold)
accuracy_score(y_testold, y_predold)

In [ ]:
#print(classification_report(y_test, y_pred))

In [ ]:
print(classification_report(y_testyoung, y_predyoung))

In [ ]:
print(classification_report(y_testold, y_predold))

GradientBoost with default parameters

In [ ]:
gbc = GradientBoostingClassifier()
#gbc.fit(X_train, y_train)
#y_pred = gbc.predict(X_test)
#accuracy_score(y_test, y_pred)

In [ ]:
gbc.fit(X_trainyoung, y_trainyoung)
y_pred = gbc.predict(X_testyoung)
accuracy_score(y_testyoung, y_predyoung)

In [ ]:
gbc.fit(X_trainold, y_trainold)
y_pred = gbc.predict(X_testold)
accuracy_score(y_testold, y_predold)

In [ ]:
#print(classification_report(y_test, y_pred))

In [ ]:
print(classification_report(y_testyoung, y_predyoung))

In [ ]:
print(classification_report(y_testold, y_predold))

Parameters tuning

In [ ]:
model = GradientBoostingClassifier(random_state=100)
params = {
        'n_estimators':range(1,50),
        'learning_rate':[0.001, 0.01, 0.1, 0.2, 0.5, 1]
}
gs = GridSearchCV(model, params)
# gs.fit(X_train, y_train)
# print('Best parameter: ', gs.best_params_)

In [ ]:
gs.fit(X_trainyoung, y_trainyoung)
print('Best parameter: ', gs.best_params_)

In [ ]:
gs.fit(X_trainold, y_trainold)
print('Best parameter: ', gs.best_params_)

GradientBoost with best parameters

In [ ]:
#gbc = GradientBoostingClassifier(learning_rate=0.55, n_estimators=53)
#gbc.fit(X_train, y_train)
#y_pred = gbc.predict(X_test)
#accuracy_score(y_test, y_pred)

In [ ]:
gbcyoung = GradientBoostingClassifier(learning_rate=0.5, n_estimators=29)
gbcyoung.fit(X_trainyoung, y_trainyoung)
y_predyoung = gbc.predict(X_testyoung)
accuracy_score(y_testyoung, y_predyoung)

In [ ]:
gbcold = GradientBoostingClassifier(learning_rate=0.1, n_estimators=29)
gbc.fit(X_trainold, y_trainold)
y_predold = gbc.predict(X_testold)
accuracy_score(y_testold, y_predold)

In [ ]:
#print(classification_report(y_test, y_pred))

In [ ]:
print(classification_report(y_testyoung, y_predyoung))

In [ ]:
print(classification_report(y_testold, y_predold))

# Summary

In [ ]:
#hasil = gbc.predict(datatest)
#hasil = pd.DataFrame(hasil,columns=["Y"])
#hasil = pd.concat([datatest["ID"],hasil], axis=1)

In [ ]:
#hasil

In [ ]:
#hasil.to_csv("GradientBoost.csv",index=False)

Dengan hasil diatas maka dapat diambil kesimpulan bahwa 81.5% data dapat dijelaskan oleh model Adaboost Classifier dan 80% data dapat dijelaskan oleh model GradientBoost Classifier. Sisanya merupakan error atau pengaruh lainnya.