## Data Preparation

In [1]:
# Mengimpor library yang diperlukan
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
# Mengimpor dataset
datatrain = pd.read_csv('Train.csv')
datatrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13626 entries, 0 to 13625
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          13626 non-null  int64
 1   Provinsi    13626 non-null  int64
 2   KodeKabKot  13626 non-null  int64
 3   Y           13626 non-null  int64
 4   X1          13626 non-null  int64
 5   X2          13626 non-null  int64
 6   X3          13626 non-null  int64
 7   X4          13626 non-null  int64
 8   X5          13626 non-null  int64
 9   X6          13626 non-null  int64
 10  Z1          13626 non-null  float64
 11  Z2          13626 non-null  float64
 12  Z3          13626 non-null  float64
 13  Z4          13621 non-null  float64
dtypes: float64(4), int64(10)
memory usage: 1.5 MB

In [3]:
datatest = pd.read_csv('Test.csv')
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5906 entries, 0 to 5905
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          5906 non-null   int64
 1   Provinsi    5906 non-null   int64
 2   KodeKabKot  5906 non-null   int64
 3   X1          5906 non-null   int64
 4   X2          5906 non-null   int64
 5   X3          5906 non-null   int64
 6   X4          5906 non-null   int64
 7   X5          5906 non-null   int64
 8   X6          5906 non-null   int64
 9   Z1          5906 non-null   float64
 10  Z2          5906 non-null   float64
 11  Z3          5906 non-null   float64
 12  Z4          5901 non-null   float64
dtypes: float64(4), int64(9)
memory usage: 600.0 KB

### Periksa Data

In [4]:
datatrain.keys()

Index(['ID', 'Provinsi', 'KodeKabKot', 'Y', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6',
       'Z1', 'Z2', 'Z3', 'Z4'],
      dtype='object')

In [5]:
datatrain.describe

<bound method NDFrame.describe of           ID  Provinsi  KodeKabKot  Y  X1  X2  X3  X4  X5  X6     Z1      Z2  \
0          1        11        1101  0   1  27   0   0   1   1  1.077  15.075
1          2        11        1101  0   1  38   0   0   1   0  1.077  15.075
2          4        11        1101  0   0  36   0   0   0   1  1.077  15.075
3          7        11        1101  0   0  27   0   0   1   1  1.077  15.075
4          8        11        1101  0   1  36   1   0   0   0  1.077  15.075
...      ...       ...         ... ..  ..  ..  ..  ..  ..  ..    ...     ...
13621  19524        94        9471  1   0  28   1   0   1   1  1.757   3.262
13622  19526        94        9471  0   1  22   1   1   1   1  1.757   3.262
13623  19527        94        9471  0   0  35   1   0   1   1  1.757   3.262
13624  19529        94        9471  0   0  27   1   0   1   1  1.757   3.262
13625  19530        94        9471  1   0  39   1   1   1   1  1.757   3.262

           Z3       Z4
0      26.919  390.869
1      26.919  390.869
2      26.919  390.869
3      26.919  390.869
4      26.919  390.869
...       ...      ...
13621  48.936  209.045
13622  48.936  209.045
13623  48.936  209.045
13624  48.936  209.045
13625  48.936  209.045

[13626 rows x 14 columns]>

In [6]:
np.sum(pd.isnull(datatrain).sum()) # Sum of the count of null objects in all columns of data frame

5

In [7]:
np.sum(pd.isnull(datatest).sum())

5

In [8]:
datatrain = datatrain.fillna(datatrain.median())
datatest = datatest.fillna(datatest.median())

In [9]:
datatrain.head()

,ID,Provinsi,KodeKabKot,Y,X1,X2,X3,X4,X5,X6,Z1,Z2,Z3,Z4
0,1,11,1101,0,1,27,0,0,1,1,1.077,15.075,26.919,390.869
1,2,11,1101,0,1,38,0,0,1,0,1.077,15.075,26.919,390.869
2,4,11,1101,0,0,36,0,0,0,1,1.077,15.075,26.919,390.869
3,7,11,1101,0,0,27,0,0,1,1,1.077,15.075,26.919,390.869
4,8,11,1101,0,1,36,1,0,0,0,1.077,15.075,26.919,390.869

## Exploratory Data Analysis

Periksa Data apakah data Purchased tersebar secara merata atau imbalance

In [11]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

for x in datatrain.columns:
  datatrain[x] = le.fit_transform(datatrain[x])

datatrain.head(10)

   ID  Provinsi  KodeKabKot  Y  X1  X2  X3  X4  X5  X6   Z1   Z2   Z3   Z4
0   0         0           0  0   1  13   0   0   1   1  248  458  257  471
1   1         0           0  0   1  24   0   0   1   0  248  458  257  471
2   2         0           0  0   0  22   0   0   0   1  248  458  257  471
3   3         0           0  0   0  13   0   0   1   1  248  458  257  471
4   4         0           0  0   1  22   1   0   0   0  248  458  257  471
5   5         0           0  1   1   6   0   1   1   0  248  458  257  471
6   6         0           0  0   1  13   0   1   1   1  248  458  257  471
7   7         0           0  0   0  22   1   0   1   1  248  458  257  471
8   8         0           0  0   0  19   1   0   1   1  248  458  257  471
9   9         0           0  0   1   9   1   0   1   1  248  458  257  471

In [ ]:
#sns.set_style('whitegrid')
#sns.countplot(x=datatrain['Y'],data=datatrain,palette='muted')

In [ ]:
#l=list(dataset.columns[0:20])
#for i in range(len(l)-1):
#    sns.boxplot(x='TARGET LABEL (SYMPTOM TIME)',y=l[i], data=dataset, palette='Set2')
#    plt.figure()

## Membangun Model Random Forest

In [ ]:
# Pemilihan Fitur
X = dataset.drop(columns='TARGET LABEL (SYMPTOM TIME)')
y = dataset['TARGET LABEL (SYMPTOM TIME)']

In [ ]:
# Menjadi dataset ke dalam Training set dan Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
X_test

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train

In [ ]:
# Membuat model Random Forest Classification terhadap Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 500, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

In [ ]:
# Memprediksi hasil test set
y_pred = classifier.predict(X_test)
y_pred

In [ ]:
# Membuat confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

In [ ]:
f, ax = plt.subplots(figsize=(8,5))
sns.heatmap(confusion_matrix(y_test, y_pred), annot=True, fmt=".0f", ax=ax)
plt.xlabel("y_head")
plt.ylabel("y_true")
plt.show()

In [ ]:
# Akurasi dari RandomForest

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))